<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>意见反馈-${web_name!""}</title>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <link rel="stylesheet" type="text/css" href="/opinionAdd.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body data-url="${web_image_server_url!}">
    <#include "/include/header.html">
    <@token name="commitAssistantToken"/>
    <div class="wrap opinionaddbg">
      <div class="wrap-title">意见反馈</div>
      <div class="opinionadd-cont" id="j-opinionAdd">
          
      </div>
    </div>
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/plugins/uploadify/jquery.uploadify.min.js"></script>
<script src="/themes/js/fancybox/jquery.fancybox.js"></script>
<script src="/common.js"></script>
<script src="/opinionAdd.js"></script>
</html>