<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>提现</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-22faacfd60.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/cashVouchDetail-eb7f4a69a1.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body>
    <#include "/include/header.html">
    <!-- <input type="hidden" id="j-balance" value="9999" />
    <input type="hidden" id="j-withdraw" value="1000" />
    <input type="hidden" id="j-daytimes" value="3" />
    <input type="hidden" id="j-todaytimes" value="1" />
    <input type="hidden" id="j-single" value="800" />
    <input type="hidden" id="j-realNameStatus" value="1" />
    <input type="hidden" id="j-cashMinAmount" value="1" /> -->

    <input type="hidden" id="j-balance" value="${userMoney}" />
    <input type="hidden" id="j-withdraw" value="${cashMoney}" />
    <input type="hidden" id="j-daytimes" value="${cashSingleDayTimeLimit}" />
    <input type="hidden" id="j-todaytimes" value="${todayDoCashTimes}" />
    <input type="hidden" id="j-single" value="${cashSingleMaxAmountLimit}" />
    <input type="hidden" id="j-realNameStatus" value="${realNameStatus}" />
    <input type="hidden" id="j-cashMinAmount" value="${cashMinAmount}" />

      
    <div class="site-row account-content clearfix">
        <div class="site-col-4 account-side" id="j-sider-menu">
            <div class="loading"></div>
        </div>
        <div class="site-col-20 site-col-last">
            <div class="account-main">
                <div class="main-title">提现</div>
                <div id="j-cashmain"></div>
                <div class="help">
                  <div class="help-title"><em class="iconfont">&#xe639;</em>温馨提示</div>
                  <ul>
                    <li>1、提现操作将在资金托管账户网站进行。</li>
                    <li>2、提现手续费每笔2元，详见资费说明。</li>
                    <li>3、单笔最低手续费2元，单笔最高手续费1000元。</li>
                    <li>4、单日最多可提现${cashSingleDayTimeLimit}次，单笔最多可提现${cashSingleMaxAmountLimit}元，单日最多可提现${cashSingleDayMaxAmountLimit}元。</li>
                    <li>5、预计到账时间：T日10:00AM之前申请提现，预计当日到账；T日10:00AM以后申请提现，预计最晚T+1个工作日到账；遇双休日或法定节假日顺延，实际到账时间可能会受各银行工作时间影响。</li>
                  </ul>
                </div>
            </div>
        </div>
    </div> 
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-81aa8d07d8.js"></script>
<script src="/themes/js/cashVouchDetail-38198a8a76.js"></script>
</html>