<!DOCTYPE html>
<html>
	<head>
	    <title>渤海银行充值跳转中......</title>
	    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
	</head>
	
	<body>
	    <div>渤海银行充值跳转中,请您不要关闭页面......</div>
	    <form action="${recharge.cbhbSubmitUrl!}" method="post" id="frm1" style="display: none;">
	        <input type="text" name="char_set" value="${recharge.charSet!}" />       	         
			<input type="text" name="partner_id" value="${recharge.partnerId!}" />
			<input type="text" name="version_no" value="${recharge.versionNo!}" />
			<input type="text" name="biz_type" value="${recharge.bizType!}" />
			<input type="text" name="sign_type" value="${recharge.signType!}" />
			<input type="text" name="MerBillNo" value="${recharge.merBillNo!}" />
	        <input type="text" name="PlaCustId" value="${recharge.plaCustId!}" />
	        <input type="text" name="TransAmt" value="${recharge.transAmt!}" />
	        <input type="text" name="FeeType" value="${recharge.feeType!}" />
	        <input type="text" name="MerFeeAmt" value="${recharge.merFeeAmt!}" />
	        <input type="text" name="MarketAmt" value="${recharge.marketAmt!}" />
	        <input type="text" name="PageReturnUrl" value="${recharge.pageReturnUrl!}" />
	        <input type="text" name="BgRetUrl" value="${recharge.bgRetUrl!}" />
	        <input type="text" name="MerPriv" value="${recharge.merPriv}" />
	        <input type="text" name="mac" value="${recharge.mac!}" />
	        <!-- <input type="areatext" name="merchantCert" value="${recharge.merchantCert!}" /> -->
	    </form>
	
	    <script type="text/javascript">
	    	document.getElementById("frm1").submit();
	    </script>
	</body>
</html>