<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>资金明细</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-c698273f09.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/funds-e1a9fcc9a4.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body>
    <#include "/include/header.html">
    <div class="site-row account-content clearfix">
        <div class="site-col-4 account-side" id="j-sider-menu">
            
        </div>
        <div class="site-col-20 site-col-last">
            <div class="account-main">
                <div class="main-title">资金明细</div>
                <div id="j-fundstab"></div>
            </div>
        </div>
    </div>
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-e86d88e1f5.js"></script>
<script src="/themes/js/funds-4f66fa8e51.js"></script>
</html>