<div class="form-tips-content">
	<form class="form-horizontal" action="/sys/logTemplate/logTemplateEdit.html" id="form" role="form">
		<ul class="form-item">
			<li>
				<div class="form-group">
					<label for="value" class="control-label form-label">模板名称：</label>
					<div class="input-box">
						<input type="text" class="form-control" name="templateName" id="templateName" value="${logTemplate.templateName}" maxlength="32" placeholder="请输入值" required>
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="nid" class="control-label form-label">模板类型：</label>
					<div class="input-box">
						<@linkage name="templateType" id="logType" name="logType" nid="logTemplateType" class="form-control" default="${logTemplate.templateType}" />
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="name" class="control-label form-label">模板标识：</label>
					<div class="input-box">
						<input type="text" class="form-control" name="code" id="code" value="${logTemplate.code}" maxlength="32" placeholder="请输入标识"  readonly="readonly">
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="remark" class="control-label form-label">模板信息：</label>
					<div class="input-box">
						<textarea rows="" cols="" class="form-control" name="templateContent" maxlength="1024" id="templateContent" required>${logTemplate.templateContent}</textarea>
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="remark" class="control-label form-label">备注：</label>
					<div class="input-box">
						<textarea rows="" cols="" class="form-control" name="remark" maxlength="512" id="remark" required>${logTemplate.remark}</textarea>
					</div>
				</div>
			</li>
			<input type="hidden" name="uuid" id="uuid" value="${logTemplate.uuid}"/>
			<input type="hidden" name="logType" id="logType" value="${logTemplate.logType}"/>
			<input type="hidden" name="nid" id="nid" value="${logTemplate.nid}"/>
		</ul>
		<@token/>
	</form>
</div>
<script>
$("#form").validate({
	submitHandler: function(form) {	
		$(form).ajaxSubmit({
			type: "post",
			dataType: "json",
			success: function(data) {				
				if (data.result) {
					layer.alert(data.msg, {
						icon: 6,
						cancel: function(index){
								layer.closeAll();
								gridobj.trigger("reloadGrid"); //重新载入 
	  						}
					}, function() {
						layer.closeAll();
						gridobj.trigger("reloadGrid"); //重新载入  
					});
				} else {
					layer.alert(data.msg, {
						icon: 5
					});
				}
			}
		});
	}
})
</script>