<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>消息中心-${web_name!""}</title>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <link rel="stylesheet" type="text/css" href="/letter.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body data-url="${web_image_server_url!}">
<#include "/include/header.html">
    <div class="site-row account-content clearfix">
        <div class="site-col-4 account-side" id="j-sider-menu">

        </div>
        <div class="site-col-20 site-col-last">
            <div class="account-main">
                <div class="main-title">我的信息</div>
                <div id="j-letter">
                    <div class="loading"></div>
                </div>
            </div>
        </div>
    </div>
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/common.js"></script>
<script src="/letter.js"></script>
</html>