<div class="form-tips-content">
	<form class="form-horizontal" action="/sys/org/orgEdit.html" id="form" role="form">
		<ul class="form-item">
			<li>
				<div class="form-group">
					<label for="orgName" class="control-label form-label">机构名称<span style="color:red;">*</span>：</label>
					<div class="input-box">
						<input type="text" class="form-control" name="orgName" id="orgName" value="${org.orgName}" maxlength="10" placeholder="请输入组织名称" required>
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="orgNo" class="control-label form-label">机构编码：</label>
					<div class="input-box">
						<input type="text" class="form-control" name="orgNo" id="orgNo" value="${org.orgNo}" maxlength="10" placeholder="请输入排序值" >
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="sort" class="control-label form-label">排序值<span style="color:red;">*</span>：</label>
					<div class="input-box">
						<input type="text" class="form-control" name="sort" id="sort" value="${org.sort}" maxlength="4"  digits="true" data-msg-digits="请输入整数"  placeholder="请输入排序值" required>
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="remark" class="control-label form-label">备注：</label>
					<div class="input-box">
						<textarea class="form-control" name="remark" maxlength="200" id="remark" >${org.remark}</textarea>
					</div>
				</div>
			</li>
		</ul>
		<input type="hidden" name="parentId" value="${org.parentId}">
		<input type="hidden" name="uuid" value="${org.uuid}">
		<@token/>
	</form>
</div>
<script>
	$("#form").validate({
		submitHandler: function(form) {
			$(form).ajaxSubmit({
				type: "post",
				dataType: "json",
				success: function(data) {
					if (data.result) {
						layer.alert(data.msg, {
							icon: 6
						});
						gridobj.jqGrid('setGridParam', {
							datatype: 'json',
							postData: {
								'parentId': $("input[name='parentId']").val()
							}, //发送数据  
							page: 1
						}).trigger("reloadGrid");
						top.editfn();
						layer.closeAll();
					} else {
						layer.alert(data.msg, {
							icon: 5
						});
					}
				}
			});
		}
	});
</script>