<div class="wrapper">
	<div class="row mt20">
		<div class="col-md-12">
			<h3  class="mt10 mb10">组织树</h3>
			<div class="treegridbox"  id="tree"></div>
		</div>		
		<input type="hidden" name="orgIdField" id="orgIdField" value="${orgIdField}">
		<input type="hidden" name="orgNameField" id="orgNameField" value="${orgNameField}">
	</div>
</div>	
<script type="text/javascript">
function buildtree_tips(){
	$.ajax({
	   type: "POST",
	   url: "/sys/org/getOrgTree.html",
	   success: function(tree){     
			$('#tree').treeview({
				data: tree,   
				icon: "glyphicon glyphicon-stop",
				selectedIcon: "glyphicon glyphicon-stop",
				color: "#000000",
				backColor: "#FFFFFF",
				showTags:true,
				onNodeSelected: function(e, o) {
						var orgIdField = $('#orgIdField').val();
						var orgNameField = $('#orgNameField').val();
						$("#" + orgIdField).val(o.id);
						$("#" + orgNameField).val(o.text);
						layer.close($("#" + orgNameField).data("index"));
				}
			});
			
	   }
	});
}
buildtree_tips();
</script>	
