<style type="text/css">
	.ui-jqgrid .ui-jqgrid-hdiv{
			position: relative;
		}
		.ui-jqgrid .ui-jqgrid-bdiv{
			margin-top: 0!important;
		}
      @media (max-height: 768px){
        .ui-jqgrid .ui-jqgrid-bdiv {
            margin-top: 39px;
            padding-bottom: 0px;
            max-height: 100px!important;
            overflow-y: auto;
            overflow-x: hidden;
        }
      }
      .ui-jqgrid .ui-jqgrid-pager {
          position: relative;
          bottom: 0px!important;
          background: #fff;
          border: 1px solid #EBEBEB;
          border-radius: 3px;
          z-index: 1000;
      } 
      @media (max-height: 1080px){
        .ui-jqgrid .ui-jqgrid-bdiv {
            margin-top: 39px;
            padding-bottom: 0px;
            max-height: 460px!important;
            overflow-y: auto;
            overflow-x: hidden;
        }
      }
</style>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="tool-btns">
					</div>					
				</div>
			</div>
			<!-- 列表信息 -->
		<div class="row mt20">
			<div class="col-md-12">
				<table id="jqGrid" ></table>
				<div id="jqGridPager" ></div>
			</div>
		</div>
		<script type="text/javascript">
			<@dictFormatter type = "collectionType" />
			
			$(document).ready(function() {	
				//表格初始化		
				$("#jqGrid").jqTreeGrid({
						url : "/loan/collection/collectionRecordList.html?projectId=${projectId}",
						multiselect : false,
						 pager: "#jqGridPager",
						height: $(window).height()*0.7*0.6,	
						colModel : [
							{
								label : "用户名",
								name : "userName",
								width : 100
							},
							{
								label : "投资人姓名",
								name : "realName",
								width : 100
							},
							{
								label : "借款名称",
								name : "projectName",
								width : 150
							},
							{
								label : "期数",
								name : "periodsStr",
								width : 80
							},{
								label : "预计收款日期",
								name : "repayTime",
								width : 100,
								formatter: 'date',
								formatoptions: {
									srcformat: 'u',
									newformat: 'Y-m-d'
								}
							},
							{
								label : "预收金额(元)",
								name : "payment",
								width : 80
							},
							{
								label : "本金(元)",
								name : "capital",
								width : 80
							},
							{
								label : "利息(元)",
								name : "interest",
								width : 80
							},
							{
								label : "加息利息(元)",
								name : "raiseInterest",
								width : 80
							},
							{
								label : "状态",
								name : "status" ,
								align : "center" ,
								width : 50,
								formatter: function(val, options, rowObject){   
                                    if(val == "0") {
                                        return "未还款";
                                    }else if(val == "1") {
                                        return "已还款";
                                    }
                                }
							}
							],
					}) ;
				});
				
				jQuery(function(){
				//调整弹框上的分页组件位置
				    $(".ui-jqgrid .ui-jqgrid-pager").css("bottom",$(window).height()*0.23);
				});
		</script>			
		</div>