<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>待收记录</title>
		<#include "include/resources.html">
		<script type="text/javascript">
			var url_list = "/loan/collection/collectionRecordList.html?borrowFlag=${borrowFlag!1}";
			$(document).ready(function() {	
				$('#keywordsSearch').attr('data-url',url_list);
				$('#conditionSearch').attr('data-url',url_list);				
			});
		</script>
		<style>
		.layui-layer-loading .layui-layer-loading3{width:200px!important;padding-left: 66px;color: #fff;line-height: 24px;}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="请输入用户名、投资人姓名或借款名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" id="keywordsSearch" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid">搜索</button>
							    </span>		    
						    </div>
					    </form>	
					</div>					
					<div class="search-form-adv ml10">
						<form id="advSearchForm">
							<div class="btn-group" onclick="$.fn.page.dropdownSelectHoverFun(this)">
							  <button type="button" class="btn btn-info dropdown-select-toggle" data-toggle="#" aria-haspopup="true" aria-expanded="false"> 条件查询 <span class="caret"></span></button>							  
							  <ul class="dropdown-menu search-menu">
							     <li class="input-group input-group-sm"><span>用户名</span><input type="text" class="form-control" name="userName" /></li>
							    <li class="input-group input-group-sm"><span>投资人姓名</span><input type="text" class="form-control" name="realName" /></li>
							    <li class="input-group input-group-sm"><span>预计收款开始时间</span><input type="text" name="startTime" class="form-control layer-date" id="startTime"/></li>
							    <li class="input-group input-group-sm"><span>预计收款截止时间</span><input type="text" name="endTime" class="form-control layer-date" id="endTime"/></li>
							    <li><button class="btn btn-sm btn-primary" type="button" id="conditionSearch" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid">查询</button></li>
							  </ul>							  
							</div>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
							<@shiro.hasPermission name="project:borrow:collList:export">
							<a href="javascript:" target="_blank" class="btn btn-info" onclick="exportExcel(this)" data-title='待收记录' data-url="/loan/collection/exportExcel.html" data-tid="jqGrid">导出</a>
							</@shiro.hasPermission>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tool-btns">
					</div>					
				</div>
			</div>
			
			<!-- 列表信息 -->
			<div class="row mt20">
			<div class="col-md-12">
				<table id="jqGrid" class="table-td-NoOverflow"></table>
				<div id="jqGridPager"></div>
			</div>
		</div>
		<script type="text/javascript">		

			$(document).ready(function() {	
				
				//设置投资时间
				var startTime= {
					elem:'#startTime',
					format: 'YYYY-MM-DD hh:mm:ss', //日期格式
					istime: false, //是否开启时间选择
					max:$('#endTime').val(),
					event:'focus',
					choose: function(dates){
					    endTime.min=dates;
					    endTime.start=dates;
					}
				};
				//设置截止时间
				var endTime=  {
						elem:'#endTime',
						format: 'YYYY-MM-DD 23:59:59', //日期格式
						istime: false, //是否开启时间选择
						min: $('#startTime').val(), //最小日期大于当前时间
						event:'focus',
						choose: function(dates){
						    startTime.max=dates;
					   }
				};				
				laydate(startTime);
				laydate(endTime);
				
				//表格初始化		
				$("#jqGrid").jqTreeGrid({
						url : url_list,
						multiselect : false,
						colModel : [
								{
									label : "用户名",
									name : "userName",
									width : 100
								},
								{
									label : "投资人姓名",
									name : "realName",
									width : 100
								},
								{
									label : "借款名称",
									name : "projectName",
									width : 150
								},
								{
									label : "期数",
									name : "periodsStr",
									width : 80
								},{
									label : "预计收款日期",
									name : "repayTime",
									width : 100,
									formatter: 'date',
									formatoptions: {
										srcformat: 'u',
										newformat: 'Y-m-d'
									}
								},
								{
									label : "预收金额(元)",
									name : "payment",
									width : 80
								},
								{
									label : "本金(元)",
									name : "capital",
									width : 80
								},
								{
									label : "利息(元)",
									name : "interest",
									width : 80
								},
								{
									label : "加息利息(元)",
									name : "raiseInterest",
									width : 80
								},
								{
									label : "状态",
									name : "status" ,
									align : "center" ,
									width : 50 ,
									formatter: function(val, options, rowObject){	
										if(val == "0") {
											return "未还款";
										}else if(val == "1") {
											return "已还款";
										}
									}
								},
								{
									label: "操作",
									name: "cz",
									width: 100,
									align: "center",
									formatter: function(val, options, rowObject){	
										var btns = '<a href="javascript:;" onclick=$.fn.treeGridOptions.checkFun(this,"'+rowObject.projectId+'") data-tid="jqGrid" data-url="/loan/repayment/repaymentList.html?projectId='+rowObject.projectId+'" data-title="还款记录">还款记录</a>';
										return btns;
									}									
								}
								],
					}).jqGrid("setFrozenColumns").navGrid(
					'#jqGridPager',
					{
						edit : false,
						add : false,
						del : false,
						search : false,
						refresh : true,
						view : false,
						position : "left",
						cloneToTop : false
					});
				});
		</script>
			
		</div>
	</body>
</html>