<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>转让详情</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-d11e18e10d.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/cashIntroduced-34553fc111.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body>
    <#include "/include/header.html">    
    <div class="wrap-full cashIntroduced-wrap1">
        <div class="wrap cashIntroduced-steps cashIntroduced-step1">
            <a href="#" class="btn">查看我的变现</a>
            <div class="text">
                <h3>变现是什么？</h3>
                <p>变现是投资者以持有平台可变现资产的到期回款作为还款来源<br/>而发起的一笔个人借款</p>
            </div>
        </div>
    </div>
    <div class="wrap-full cashIntroduced-wrap2">
        <div class="wrap cashIntroduced-steps cashIntroduced-step2">            
            <div class="text">
                <h3>哪些产品可以变现？</h3>
                <p>
                    1.购买时，带有“可变现”标志的产品<br/>
                    2.所持资产距离到期30个自然日（含）以上<br/>
                    3.所持资产金额为1000元（含）以上
                </p>
            </div>
        </div>
    </div>
        <div class="wrap-full cashIntroduced-wrap1">
        <div class="wrap cashIntroduced-steps cashIntroduced-step3">            
            <div class="text">
                <h3>如何设置变现利率？</h3>
                <p>变现的融资利率由变现申请人自行填写</p>
            </div>
        </div>
    </div>
    <div class="wrap-full cashIntroduced-wrap2">
        <div class="wrap cashIntroduced-steps cashIntroduced-step4">            
            <div class="text">
                <h3>变现后钱去哪儿了？</h3>
                <p>变现成功后，变现借款资金自动打款至账户余额，请<br/>注意查验。</p>
            </div>
        </div>
    </div>
    <div class="wrap-full cashIntroduced-wrap1">
        <div class="wrap cashIntroduced-steps cashIntroduced-step5">            
            <div class="text">
                <h3>变现的借款如何还款？</h3>
                <p>变现是变现人发起的个人借款，变现到期日自动还款，无需<br/>手工操作，省心省力。</p>
            </div>
        </div>
    </div>
    <div class="wrap-full cashIntroduced-wrap1">
        <div class="wrap cashIntroduced-threeStepGo clearfix">
            <div class="text text1">
                <h3>申请变现</h3>
                <p>进入账户可变现资产列表，点<br/>击“变现”，输入金额</p>
            </div>
            <div class="text text2">
                <h3>等待投资</h3>
                <p>形成个人贷借款<br/>等待投资人购买这笔借款</p>
            </div>
            <div class="text text3">
                <h3>变现成功</h3>
                <p>投资人购买个人贷借款，资金转<br/>入变现申请人资金账户</p>
            </div>
        </div>
    </div>
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-469eb5f62b.js"></script>
<script src="/themes/js/cashIntroduced-ac1cadf997.js"></script>
</html>