<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>安全保障</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- <link rel="stylesheet" type="text/css" href="../css/light.css" /> -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="${mobileUrl}/themes/app/css/common.css" />
    <link rel="stylesheet" type="text/css" href="${mobileUrl}/themes/app/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="${mobileUrl}/themes/app/css/base.css" />
    <script type="text/javascript" src="${mobileUrl}/themes/app/js/get_client_width.min.js"></script>
	<script type="text/javascript" src="${mobileUrl}/themes/app/js/jquery-3.1.1.min.js"></script>
</head>
<style>
    .security img{
        width: 100%;
    }
</style>
<body>
    <div class="page" id="intro">
        <mt-header class="bar-nav aui-border-b" title="安全保障" >
            <mt-button slot="left" icon="back"></mt-button>
        </mt-header>
        <div class="security">
            <img src="${mobileUrl}/themes/app/images/me/me_pic_safety.png" />
        </div>
    </div>
</body>
</html>