<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>充值-${web_name!""}</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-5535fa1dbf.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/recharge-52b76cfc94.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body>
    <#include "/include/header.html">
    <input type="hidden" id="j-realNameStatus" value="${realNameStatus}" />
    <input type="hidden" id="j-rechargeMinAmount" value="${rechargeMinAmount}" />
    <input type="hidden" id="j-rechargeMaxAmount" value="${rechargeMaxAmount}" />
    <input type="hidden" id="money" name="money" value="${money}">
    <input type="hidden" id="reqType" value="2" />
    <input type="hidden" id="srvTxCode" value="directRechargeOnline">
    <input type="hidden" id="mobile" name="mobile" value="${mobile}">
    <input type="hidden" id="showMobile" name="showMobile" value="${showMobile}">
    <input type="hidden" id="tppUserCustId" name="tppUserCustId" value="${tppUserCustId}">
    <div class="site-row account-content clearfix">
        <div class="site-col-4 account-side" id="j-sider-menu">
            <div class="loading"></div>
        </div>
        <div class="site-col-20 site-col-last" id="j-rechargemain">
            <div class="loading"></div>
        </div>
    </div> 
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-5f2af2b543.js"></script>
<script src="/themes/js/recharge-be4910cc80.js"></script>
</html>