<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>${web_name!""}</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-c82a7457f8.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/browserUpdate-1610cd4bed.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
<body>
<div>
    <div class="centerContent">
        <h2>
            <p>啊哦，您当前的浏览器版本过低，可能存在安全风险</p>
            <p class="font">建议升级浏览器：</p>
        </h2>
        <ul class="clearfix">
            <li class="li1"><a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads"><em></em><p>升级到 IE新版本</p></a></li>
            <li class="li2">或者</li>
            <li class="li3"><a href="http://www.firefox.com.cn/download/"><em></em><p>下载 firefox</p></a></li>
            <li class="li4"><a href="http://rj.baidu.com/soft/detail/14744.html?ald"><em></em><p>下载 chrome</p></a></li>
            <!--<li class="li5"><a href=""><em></em><p>下载 Safari</p></a></li>-->
        </ul>
    </div>
</div>
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-0aa0729634.js"></script>
<script src="/themes/js/browserUpdate-e1c8f36852.js"></script>
</html>