<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>资费说明</title>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <link rel="stylesheet" type="text/css" href="/helpCenter.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body>
    <#include "/include/header.html">
    <div class="wrap help-wrap clearfix">
        <div class="help-side">
            <h3><span class="iconfont">&#xe637;</span>帮助中心</h3>
            <ul class="help-side-list">
                 <#if sectionList?exists>
					<#list sectionList as item>
						<li <#if sectionCode==item.sectionCode> class="active"</#if> ><a href="/column/helpCenter.html?sectionCode=${item.sectionCode}">${item.sectionName}</a></li>
					</#list>
				 </#if>
            </ul>
        </div>
        <div class="help-main">
			        <#if isLeaf??&&isLeaf==1&&article??>
        		 <ul class="help-main-list" id="helpMainList">
			                    <div class="cont">
			                        <div class="text">
			                            ${article.content!''}
			                        </div>
			                    </div>

               </ul> 
         <#else>
             <h2>${sectionName!''}</h2>
              <ul class="help-main-list" id="helpMainList">
                    <#if articleList?exists>
	                	<#list articleList as item>
	                	   <li  <#if item_index ==0>class="on" </#if>>
			                    <h3 class="tab"><span class="iconfont">&#xe66a;</span>${item.title!''}</h3>
			                    <div class="cont">
			                        <div class="text">
			                            ${item.content!''}
			                        </div>
			                    </div>
                           </li>
	                   </#list>
	                </#if> 
               </ul> 
        </#if>
        </div>
    </div>    
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/common.js"></script>
<script src="/helpCenter.js"></script>
</html>