<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>消息模板</title>
		<#include "include/resources.html">
	</head>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="请输入消息类型或者类型名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/sys/messageType/list.html">搜索</button>
							    </span>		    
						    </div>
					    </form>	
					</div>					
					<div class="search-form-adv ml10">
						<form>
							<div class="btn-group" onclick="$.fn.page.dropdownSelectHoverFun(this)">
							  <button type="button" class="btn btn-info dropdown-select-toggle" data-toggle="#" aria-haspopup="true" aria-expanded="false"> 条件查询 <span class="caret"></span></button>							  
							  <ul class="dropdown-menu search-menu">
							    <li class="input-group input-group-sm"><span>消息类型</span><@linkage name="messageType" nid="messageType" class="form-control" noselect="全部" /></li>
							    <li class="input-group input-group-sm"><span>类型名称</span><input type="text" class="form-control" name="messageName" /></li>							    
							    <li class="input-group input-group-sm"><span>通知类型</span> <@linkage name="sendType" nid="sendType" class="form-control" noselect="全部"/></li>
							    <li class="input-group input-group-sm"><span>是否启用</span> <@linkage name="send" nid="enable" class="form-control" noselect="全部"/></li>
							    <li><button class="btn btn-sm btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/sys/messageType/list.html">查询</button></li>
							  </ul>							  
							</div>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tool-btns">
					<!-- 
					<@shiro.hasPermission name="set:msg:msgType:add">
						<button type="button" class="btn btn-primary" onclick="$.fn.treeGridOptions.addFun(this)" data-url="/sys/messageType/messageTypeAddPage.html">新增</button>
					</@shiro.hasPermission>
					 -->
					<@shiro.hasPermission name="set:msg:msgType:edit">
						<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.editFun(this)" data-tid="jqGrid" data-url="/sys/messageType/messageTypeEditPage.html">编辑</button>						
					</@shiro.hasPermission>
					</div>					
				</div>
			</div>
			<div class="row mt20">
				<div class="col-md-12">
					<table id="jqGrid"></table>
					<div id="jqGridPager"></div>
				</div>
			</div>
			<script type="text/javascript">
				<@dictFormatter type = "enable" />
				<@dictFormatter type = "sendType" />
					$(document).ready(function() {												
						//表格初始化
						$("#jqGrid").jqTreeGrid({
							url: '/sys/messageType/list.html',
														
							colModel: [{
								label: "消息类型",
								name: "messageType",
								width: 100 /*, frozen: true*/
							}, {
								label: "类型名称",
								name: "messageName",
								width: 150
							}, {
								label: "通知类型",
								name: "sendType",
								width: 100,
								formatter: sendTypeFormatter
							}, {
								label: "是否启用",
								name: "send",
								width: 100,
								formatter: enableFormatter
							}],
						}).jqGrid("setFrozenColumns").navGrid('#jqGridPager',
							// the buttons to appear on the toolbar of the grid
							{
								edit: false,
								add: false,
								del: false,
								search: false,
								refresh: true,
								view: false,
								position: "left",
								cloneToTop: false
							}
						);						
					});
			</script>
		</div>
	</body>
</html>