<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>初始化密码修改-${web_name!""}</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-c82a7457f8.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/pwdReset-ad8330064d.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
    <!--[if lte IE 7]> 
    	<script>
    		window.location = "/browserUpgrade.html"
    	</script>
    <![endif]-->
<body>
    <div class="header-title header-title-pwdreset">
        <#include "/include/header-sm.html">
    </div>     
    <div class="wrap getpwd-main">
       <div class="getpwd-cont" id="j-pwd">
           <div class="loading"></div>
       </div>
    </div>
    <#include "/include/footer-sm.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-0aa0729634.js"></script>
<script src="/themes/js/pwdReset-8fe2d4e6d0.js"></script>
</html>