<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-bfd60bf4d6.css"/>
    <link rel="stylesheet" type="text/css" href="/invest-list.css"/>

</head>
<body>
		<form id="form" action="/activity/gainActivityRedenvelope.html" method="post">
		<span>活动红包获取</span><br>
		<input type="text" name="RedenvelopeRuleId"  id="RedenvelopeRuleId">
		<input type="submit" value="提交">
		</form>
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-3da2cb5454.js"></script>
<script src="/invest-list.js"></script>
</html>