<!DOCTYPE html>
<html>
	<head>
	    <title>江西银行提现跳转中......</title>
	    <meta http-equiv="content-Type" content="hidden/html; charset=utf-8" />
	</head>
	
	<body>
	    <div>江西银行提现跳转中,请您不要关闭页面......</div>
	    <form action="${obj.summitUrl}" method="post" id="frm1" style="display: none;">
	        <input type="hidden" name="version" value="${obj.version!}" />       	         
			<input type="hidden" name="txCode" value="${obj.txCode!}" />
			<input type="hidden" name="instCode" value="${obj.instCode!}" />
			<input type="hidden" name="bankCode" value="${obj.bankCode!}" />
			<input type="hidden" name="txDate" value="${obj.txDate!}" />
			<input type="hidden" name="txTime" value="${obj.txTime!}" />
	        <input type="hidden" name="seqNo" value="${obj.seqNo!}" />
	        <input type="hidden" name="channel" value="${obj.channel!}" />
	        <input type="hidden" name="accountId" value="${obj.accountId!}" />
	        <input type="hidden" name="idType" value="${obj.idType!}" />
	        <input type="hidden" name="idNo" value="${obj.idNo!}" />
            <input type="hidden" name="name" value="${obj.name!}" />
            <input type="hidden" name="mobile" value="${obj.mobile!}" />
            <input type="hidden" name="retUrl" value="${obj.retUrl!}" />
            <input type="hidden" name="notifyUrl" value="${obj.notifyUrl!}" />
            <input type="hidden" name="lastSrvAuthCode" value="${obj.lastSrvAuthCode!}" />
            <input type="hidden" name="smsCode" value="${obj.smsCode!}" />
            <input type="text" name="sign" value="${sign!}" />
	        <input type="submit" value="提交">
	    </form>
	
	    <script type="text/javascript">
 	    	document.getElementById("frm1").submit();
	    </script>
	</body>
</html>