<div class="form-tips-content">
  <form class="form-horizontal" action="/sys/dict/dictTypeAdd.html" id="form" role="form">
  	<ul class="form-item">
  		<li>
			<div class="form-group">
		      <label for="typeName" class="control-label form-label">类型名称：</label>
		      <div class="input-box">
		      <input type="text" class="form-control" name="typeName" id="typeName" maxLength="40" placeholder="请输入名称" required>
		      </div>
		    </div>	
  		</li>
   		<li>
			<div class="form-group">
		      <label for="type" class="control-label form-label">类型标识：</label>
		      <div class="input-box">
		      <input type="text" class="form-control" name="dictType" id="dictType" maxLength="64" placeholder="请输入标识" required>
		      </div>
		    </div>	
  		</li>
  		<li class="full-width">
			<div class="form-group">
		      <label for="description" class="control-label form-label">描述信息：</label>
		      <div class="input-box">
		      <textarea rows="" cols="" class="form-control" name="remark" id="remark" maxLength="512"></textarea>
		      </div>
		    </div>	
  		</li>  		
  		 		
  	</ul>
  	<@token/>
  </form>
</div>
<script>
	$("#form").validate({
		submitHandler: function(form) {
			$(form).ajaxSubmit({
				type: "post",
				dataType: "json",
				success: function(data) {
					if (data.result) {
						layer.alert(data.msg, {
							icon: 6,
							cancel: function(index){
								layer.closeAll();
								gridobj.trigger("reloadGrid"); //重新载入 
	  						}
						}, function() {
							gridobj.trigger("reloadGrid");//重新载入
							layer.closeAll();							  
						});
					} else {
						layer.alert(data.msg, {
							icon: 5
						});
					}
				}
			});
		}
	});
</script>