/* 工商银行*/
.ICBC {background: rgba(197, 41, 37, 0.65);}
/* 交通银行*/
.BCM {background: rgba(12, 79, 157, 0.65);}
/* 广发银行*/
.GDB {background: rgba(115, 0, 5, 0.65);}
/* 农业银行*/
.ABC {background: rgba(0, 153, 136, 0.65);}
/* 光大银行*/
.CEB {background: rgba(121, 23, 132, 0.65)}

.BOC {background: rgba(154,31,36,0.65)}
.CCB {background: rgba(20,86,152,0.65)}
.CIB {background: rgba(27,105,175,0.65)}
.CMB {background: rgba(215,19,24,0.65)}
.CMBC {background: rgba(23,88,144,0.65)}
.CNCB {background: rgba(214,0,15,0.65)}
.HXB {background: rgba(225,43,32,0.65)}
.PAB {background: rgba(221,84,17,0.65)}
.PSBC {background: rgba(0,126,61,0.65)}
.SPDB {background: rgba(0,126,61,0.65)}
