.color-999 {color:#999!important;}
.color-333 {color:#333!important;}
.color-666 {color:#666!important;}
.color-ddd {color:#ddd!important;}
.main-color {color:#c9a978!important;}
.color-green {color: #4abe89!important; }
.secondary-color { color: #48AFFB;}
.main-btn-bg {background-color:#F95A28!important;}
.gray-btn-bg {background-color:#ccc!important;}
.main-border-color {border-color: #F95A28!important;}

