<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rd.ifaes.core.operate.mapper.RedenvelopeRuleDetailMapper">
	<resultMap type="com.rd.ifaes.core.operate.domain.RedenvelopeRuleDetail" id="redenvelopeRuleDetailResultMap">
		<result property="uuid" column="UUID"/>
		<result property="ruleId" column="RULE_ID"/>
		<result property="amount" column="AMOUNT"/>
		<result property="useTenderMoney" column="USE_TENDER_MONEY"/>
		<result property="tenderMin" column="TENDER_MIN"/>
		<result property="tenderMax" column="TENDER_MAX"/>
		<result property="grantRate" column="GRANT_RATE"/>
		<result property="createTime" column="CREATE_TIME"/>
	</resultMap>
	
	<sql id="table_columns">
		UUID,
		RULE_ID,
		AMOUNT,
		USE_TENDER_MONEY,
		TENDER_MIN,
		TENDER_MAX,
		GRANT_RATE,
		CREATE_TIME
    </sql>
	<sql id="entity_properties">
		#{uuid},
		#{ruleId},
		#{amount},
		#{useTenderMoney},
		#{tenderMin},
		#{tenderMax},
		#{grantRate},
		#{createTime}
	</sql>

    <!-- 使用like用法：columnName like concat('%',#{columnName},'%') -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="uuid != null and uuid != ''">and UUID = #{uuid}</if>
            <if test="ruleId != null and ruleId != ''">and RULE_ID = #{ruleId}</if>
			<if test="amount != null">and AMOUNT = #{amount}</if>
			<if test="useTenderMoney != null">and USE_TENDER_MONEY = #{useTenderMoney}</if>
			<if test="tenderMin != null">and TENDER_MIN = #{tenderMin}</if>
			<if test="tenderMax != null">and TENDER_MAX = #{tenderMax}</if>
			<if test="grantRate != null">and GRANT_RATE = #{grantRate}</if>
			<if test="createTime != null">and CREATE_TIME = #{createTime}</if>
        </trim>
        <if test="page != null and page.sort!=null and page.sort!=''">
        	order by ${page.sort} ${page.order}
        </if>
        <if test="page == null or page.sort == null or page.sort==null">
        	order by  TENDER_MIN,AMOUNT,GRANT_RATE ASC
        </if>
        <!-- <if test="page == null or page.sort == null or page.sort == ''">order by sort </if> --> 
    </sql>

	<insert id="insert" parameterType="com.rd.ifaes.core.operate.domain.RedenvelopeRuleDetail">
		insert into redenvelope_rule_detail( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">		
		insert into redenvelope_rule_detail( <include refid="table_columns" /> ) 
		values 
		<foreach collection="list" item="item" index="index" separator=",">  
		( 
		#{item.uuid},
				#{item.ruleId},
				#{item.amount},
				#{item.useTenderMoney},
				#{item.tenderMin},
				#{item.tenderMax},
				#{item.grantRate},
				#{item.createTime}
		)
		</foreach>
	</insert>

	<delete id="delete" parameterType="String">
		delete from redenvelope_rule_detail
		where uuid = #{uuid}
	</delete>
	
	<update id="deleteBatch">
		update redenvelope_rule_detail set delete_flag = 1
		where uuid in
		<foreach collection="array" item="id" open="(" separator="," close=")">  
            #{uuid} 
        </foreach>		
	</update>

	<update id="deleteLogic" parameterType="String">
		update redenvelope_rule_detail set delete_flag = 1 
		where uuid = #{uuid}
	</update>

	<update id="update" parameterType="com.rd.ifaes.core.operate.domain.RedenvelopeRuleDetail">
		update redenvelope_rule_detail 
		<trim prefix="set" suffixOverrides=",">
			<if test="amount != null">AMOUNT = #{amount},</if>
			<if test="useTenderMoney != null">USE_TENDER_MONEY = #{useTenderMoney},</if>
			<if test="tenderMin != null">TENDER_MIN = #{tenderMin},</if>
			<if test="tenderMax != null">TENDER_MAX = #{tenderMax},</if>
			<if test="grantRate != null">GRANT_RATE = #{grantRate},</if>
		</trim>
		<where>uuid = #{uuid}</where>
	</update>

    <select id="findAll" resultMap="redenvelopeRuleDetailResultMap">
        select <include refid="table_columns" />
        from redenvelope_rule_detail
    </select>

    <select id="findList" resultMap="redenvelopeRuleDetailResultMap">
        select <include refid="table_columns" />
        from redenvelope_rule_detail
        <include refid="page_where" />
	</select>

    <select id="getCount" resultType="int" >
        select count(uuid) from redenvelope_rule_detail
        <include refid="page_where" />
    </select>


    <select id="get" resultMap="redenvelopeRuleDetailResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from redenvelope_rule_detail
		where uuid = #{uuid}
	</select>
	
	<!-- 其他自定义SQL -->
	<!-- 根据规则id删除 -->
	<delete id="deleteByRuleId" parameterType="String">
		delete from redenvelope_rule_detail
		where rule_id = #{ruleId}
	</delete>
	
	
	<select id="collectByRuleId" resultType="BigDecimal" parameterType="String" >
		select sum(amount)
		from redenvelope_rule_detail
		where rule_id = #{ruleId}
	</select>
	
	<!-- 根据红包规则id获取未删除的规则明细金额 -->
	<select id="getAmountByRuleId" resultType="BigDecimal" parameterType="String">
        select sum(a.amount)
        from redenvelope_rule_detail a,redenvelope_rule b
        where a.rule_id = b.uuid and a.rule_id = #{ruleId} and b.delete_flag = 0 and b.status = 1
	</select>
	
	<select id="getTenderGroup" resultMap="redenvelopeRuleDetailResultMap" parameterType="String">
       select DISTINCT tender_min,tender_max 
       from redenvelope_rule_detail 
       where rule_id = #{ruleId} ORDER BY tender_min ASC
	</select>
	
</mapper>