<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rd.ifaes.core.operate.mapper.UserVipGrowthLogMapper">
	<resultMap type="com.rd.ifaes.core.operate.domain.UserVipGrowthLog" id="userVipGrowthLogResultMap">
		<result property="uuid" column="UUID"/>
		<result property="userId" column="USER_ID"/>
		<result property="growthValue" column="GROWTH_VALUE"/>
		<result property="optType" column="OPT_TYPE"/>
		<result property="growthValueNew" column="GROWTH_VALUE_NEW"/>
		<result property="optValue" column="OPT_VALUE"/>
		<result property="remark" column="REMARK"/>
		<result property="createTime" column="CREATE_TIME"/>
		
	    <result property="userName" column="USER_NAME"/>
		<result property="mobile" column="MOBILE"/>
		<result property="realName" column="REAL_NAME"/>
	</resultMap>
	
	<sql id="table_columns">
		UUID,
		USER_ID,
		GROWTH_VALUE,
		OPT_TYPE,
		GROWTH_VALUE_NEW,
		OPT_VALUE,
		REMARK,
		CREATE_TIME
    </sql>
	<sql id="entity_properties">
		#{uuid},
		#{userId},
		#{growthValue},
		#{optType},
		#{growthValueNew},
		#{optValue},
		#{remark},
		#{createTime}
	</sql>

    <!-- 使用like用法：columnName like concat('%',#{columnName},'%') -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="uuid != null and uuid != ''">and UUID = #{uuid}</if>
            <if test="userId != null and userId != ''">and USER_ID = #{userId}</if>
			<if test="growthValue != null">and GROWTH_VALUE = #{growthValue}</if>
            <if test="optType != null and optType != ''">and OPT_TYPE = #{optType}</if>
			<if test="growthValueNew != null">and GROWTH_VALUE_NEW = #{growthValueNew}</if>
			<if test="optValue != null">and OPT_VALUE = #{optValue}</if>
            <if test="remark != null and remark != ''">and REMARK = #{remark}</if>
			<if test="startTime != null and startTime != ''">and create_time &gt;= #{startTime}</if>
		    <if test="endTime != null and endTime != ''">and create_time &lt;= #{endTime}</if>  
        </trim>
        <if test="page != null and page.sort!=null and page.sort!=''">
        	order by ${page.sort} ${page.order}
        </if>
        <!-- <if test="page == null or page.sort == null or page.sort == ''">order by sort </if> --> 
    </sql>

	<insert id="insert" parameterType="com.rd.ifaes.core.operate.domain.UserVipGrowthLog">
		insert into user_vip_growth_log( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">		
		insert into user_vip_growth_log( <include refid="table_columns" /> ) 
		values 
		<foreach collection="list" item="item" index="index" separator=",">  
		( 
		#{item.uuid},
				#{item.userId},
				#{item.growthValue},
				#{item.optType},
				#{item.growthValueNew},
				#{item.optValue},
				#{item.remark},
				#{item.createTime}
		)
		</foreach>
	</insert>

	<delete id="delete" parameterType="String">
		delete from user_vip_growth_log
		where uuid = #{uuid}
	</delete>
	
	<update id="deleteBatch">
		update user_vip_growth_log set delete_flag = 1
		where uuid in
		<foreach collection="array" item="id" open="(" separator="," close=")">  
            #{id} 
        </foreach>		
	</update>

	<update id="deleteLogic" parameterType="String">
		update user_vip_growth_log set delete_flag = 1 
		where uuid = #{uuid}
	</update>

	<update id="update" parameterType="com.rd.ifaes.core.operate.domain.UserVipGrowthLog">
		update user_vip_growth_log 
		<trim prefix="set" suffixOverrides=",">
			<if test="growthValue != null">GROWTH_VALUE = #{growthValue},</if>
            <if test="optType != null and optType != ''">OPT_TYPE = #{optType},</if>
			<if test="growthValueNew != null">GROWTH_VALUE_NEW = #{growthValueNew},</if>
			<if test="optValue != null">OPT_VALUE = #{optValue},</if>
            <if test="remark != null and remark != ''">REMARK = #{remark},</if>
		</trim>
		<where>uuid = #{uuid}</where>
	</update>

    <select id="findAll" resultMap="userVipGrowthLogResultMap">
        select <include refid="table_columns" />
        from user_vip_growth_log
    </select>

    <select id="findList" resultMap="userVipGrowthLogResultMap">
        select 
            log.UUID,
			log.USER_ID,
			log.GROWTH_VALUE,
			log.OPT_TYPE,
			log.GROWTH_VALUE_NEW,
			log.OPT_VALUE,
			log.REMARK,
			log.CREATE_TIME,
            u.user_name,u.mobile,u.real_name     
   		from user_vip_growth_log log 
   		     left join  user u  on log.user_id=u.uuid 
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="uuid != null and uuid != ''">and UUID = #{uuid}</if>
            <if test="userId != null and userId != ''">and USER_ID = #{userId}</if>
			<if test="growthValue != null">and GROWTH_VALUE = #{growthValue}</if>
            <if test="optType != null and optType != ''">and OPT_TYPE = #{optType}</if>
			<if test="growthValueNew != null">and GROWTH_VALUE_NEW = #{growthValueNew}</if>
			<if test="optValue != null">and OPT_VALUE = #{optValue}</if>
			<if test="startTime != null and startTime != ''">and log.create_time &gt;= #{startTime}</if>
		    <if test="endTime != null and endTime != ''">and log.create_time &lt;= #{endTime}</if>  
        </trim>
        <if test="page != null and page.sort!=null and page.sort!=''">
        	order by ${page.sort} ${page.order}
        </if>
         <if test="page == null or page.sort==''">
           order by log.create_time desc ,log.growth_value_new desc
         </if>
	</select>

    <select id="getCount" resultType="int" >
        select count(uuid) from user_vip_growth_log
        <include refid="page_where" />
    </select>


    <select id="get" resultMap="userVipGrowthLogResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from user_vip_growth_log
		where uuid = #{id}
	</select>
</mapper>