<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>自动投资</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-22faacfd60.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/setting-c54f689cad.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body>
    <#include "/include/header.html">
    <div class="site-row account-content clearfix">
        <div class="site-col-4 account-side" id="j-sider-menu">
            <div class="loading"></div>
        </div>
        <div class="site-col-20 site-col-last">   
            <div class="account-main">
              <div class="main-title">自动投资</div>
              <div id="j-auto">
                   <div class="loading"></div>      
              </div>
              <div class="help">
                <div class="help-title"><em class="iconfont">&#xe639;</em>温馨提示</div>
                <ol>
                  <li>充值/提现必须为开通网上银行的借记卡，不支持存折、信用卡充值。</li>
                  <li>充值期间，请勿关闭浏览器，待充值成功并返回后，可在网站中查看充值金额。</li>
                  <li>严禁信用卡套现、虚假交易等行为。</li>
                </ol>
              </div>
            </div>
        </div>
    </div> 
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-81aa8d07d8.js"></script>
<script src="/themes/js/setting-c96f8950f8.js"></script>
</html>