<style>
.layui-layer-page .layui-layer-content{position: static!important;}
.treegridbox ul {
    overflow-y: hidden;
    max-height: none;
}
</style>
<div class="wrapper">
	<div class="row mt20">
		<div class="col-md-12">
			<h3  class="mt10 mb10">栏目选择树</h3>
			<div class="treegridbox"  id="tree"></div>
		</div>		
	</div>
</div>	
<script type="text/javascript">
function buildtree_tips(){
	$("#tree ul").remove();
	$.ajax({
	   type: "POST",
	   url: "/column/section/getSectionTree.html",
	   success: function(tree){     
			$('#tree').treeview({
				data: tree,   
				icon: "glyphicon glyphicon-stop",
				selectedIcon: "glyphicon glyphicon-stop",
				color: "#000000",
				backColor: "#FFFFFF",
				showTags:true,
				onNodeSelected: function(e, o) {
							$("#parentId").val(o.id);

							$("#siteName").val(o.text);
							$("#parentName").val(o.text);
				    	layer.close($("#parentName").data("index"));
				    	layer.close($("#siteName").data("index"));
				    	layer.close($("#parentId").data("index"));

				    	if($("#sectionUuid").length){
				    		$("#sectionUuid").val(o.id);
								$("#sectionName").val(o.text);
					    	layer.close($("#sectionName").data("index"));
				    	}
				}
			});
			
	   }
	});
}
buildtree_tips();
</script>	
