<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>登录-${web_name!""}</title>
    <link rel="stylesheet" type="text/css" href="../../../common.css"/>
    <link rel="stylesheet" type="text/css" href="../../../login.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
    <!--[if lte IE 7]> 
    	<script>
    		window.location = "/browserUpgrade.html"
    	</script>
    <![endif]-->
<body>
    <div class="wrap-full header-sm">
        <div class="site-row">
            <div class="site-col-10 logo">
                <span>用户登录</span>
            </div>
            <ul class="site-col-10 site-col-offset-4 header-sm-links">
                <li><a href="#" title="首页">首页</a></li><li><a href="#" title="帮助中心">帮助中心</a></li>            
            </ul>
        </div>
    </div>
    <div class="wrap-full login-body">
        <div class="wrap login-content">
           <div class="loginbox" id="loginbox">
               <div class="loading"></div>
           </div>
        </div>
    </div>
    <div class="wrap-full foot-sm"><p class="site-row">Copyright@2015  杭州融都科技股份有限公司   版权所有浙ICP备12xxxxx号-2</p></div>
</body>
<script src="../../../common.js"></script>
<script src="../../../login.js"></script>
</html>