<!DOCTYPE html>
<#assign pageFlag="bespeak">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>填写借款需求</title>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <link rel="stylesheet" type="text/css" href="/addBorrowPage.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body data-url="${web_image_server_url!}" data-token="${webBorrowAddToken!}" data-tokenname="webBorrowAddToken">
    <#include "/include/header.html">
    <div class="wrap qualification-index-main">
        <div class="header">
            <ul>
                <li><span>1</span><em class="iconfont solid">&#xe658;</em><em class="iconfont hollow">&#xe657;</em>上传资质资料</li>
                <li class="on"><span>2</span><em class="iconfont solid">&#xe658;</em><em class="iconfont hollow">&#xe657;</em>填写借款需求</li>
                <li><span>3</span><em class="iconfont solid">&#xe658;</em><em class="iconfont hollow">&#xe657;</em>确认借款需求</li>
            </ul>
        </div>
        <div class="list" id="j-addBorrowPage">
            <div class="loading"></div>
        </div>
    </div>
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/common.js"></script>
<script src="/addBorrowPage.js"></script>
</html>