<!DOCTYPE html>
<#assign pageFlag="aboutus">
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>关于我们-${web_name!""}</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-c82a7457f8.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/aboutUs-fb2995e1a5.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
    <!--[if lte IE 7]> 
    	<script>
    		window.location = "/browserUpgrade.html"
    	</script>
    <![endif]-->
<body>
    <#include "include/header.html">
    <div class="articlebox clearfix" id="sectionbox">
        <div class="columnBanner">
            <div class="columnmenu" id="columnmenu"></div>
            <div class="txt_columnmenu">
                <p> 京圆柚理财是中国（浙江）领先的互联网金融信息服务平台，运营公司主体为浙江邦理投资管理有限公司，于2015年12月1日正式上线，2015年12月正式与新浪签订第三方支付协议，实现资金全程由新浪支付托管。2016年4月通过阿里金融云微金融认证，成功接入阿里金融云。</p>
                <p>截止至2017年2月，平台用户数突破70,000人，累积投资金额突破2.5亿元，已为海量用户提供财富升值服务。平台专注于互联网金融信息服务，利用互联网大数据为广大用户提供专业高效的普惠金融服务，致力于成为用户首选的安全可靠的理财平台。</p>
                <p>自成立以来，京圆柚理财始终秉持着“安全创造财富、互联传递幸福”的价值观，以专业化水准为客户服务，其团队成员由专业金融机构、法律行业、经济研究和电子商务等领域的专业人士组成。</p>
            </div>
        </div>
        <div class="columnlist">
            <div class="companyMemo"></div>
            <div class="columnBottom">
                <div class="columnBottomList">
                    <div class="title">荣誉资质</div>
                    <ul class="qualificationsList clearfix">
                        <li>
                            <img src="/themes/img/img_01.jpg"/>
                            <p class="mt20">计算机软件著作权登记证书</p>
                        </li>
                        <li>
                            <img src="/themes/img/img_02.jpg"/>
                            <p class="mt20">互联网金融典范企业奖</p>
                        </li>
                        <li>
                            <img src="/themes/img/img_03.jpg"/>
                            <p class="mt20">浙江省金融科技协会会员</p>
                        </li>
                        <li>
                            <img src="/themes/img/img_04.jpg"/>
                            <p class="mt10">第十一届亚洲品牌盛典<br/>“亚洲名优品牌”奖</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
    <#include "include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-0aa0729634.js"></script>
<script src="/themes/js/aboutUs-5ef38cf0ed.js"></script>
</html>