<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>电子账户资金交易明细查询</title>
    <#include "include/resources.html"/>
</head>
<style>
    .layui-layer-loading .layui-layer-loading3 {
        width: 200px !important;
        padding-left: 66px;
        color: #fff;
        line-height: 24px;
    }
</style>
<body>
<div class="wrapper">
    <div class="row pt20">
        <div class="col-md-6">
            <div class="search-form-adv ml10">
                <form id="advSearchForm">
                    <div class="btn-group" onclick="$.fn.page.dropdownSelectHoverFun(this)">
                        <button type="button" class="btn btn-info dropdown-select-toggle" data-toggle="#" aria-haspopup="true" aria-expanded="false"> 条件查询 <span class="caret"></span></button>
                        <ul class="dropdown-menu search-menu">
                            <li class="input-group input-group-sm"><span>手机号</span><input type="text" class="form-control" name="mobile"/></li>
                            <li class="input-group input-group-sm"><span>操作时间</span>
                                <input type="text" name="startDate" id="startTime" class="form-control" placeholder="开始时间"/>
                                <input type="text" name="endDate" id="endTime" class="form-control" placeholder="结束时间"/>
                            </li>
                            <li class="input-group input-group-sm"><span>交易种类</span>
                                <select name="type">
                                    <option value="0">所有交易</option>
                                    <option value="1">转入交易</option>
                                    <option value="2">转出交易</option>
                                    <option value="9">指定交易类型</option>
                                </select>
                            </li>
                            <li class="input-group input-group-sm"><span>交易类型</span><@linkage name="tranType" nid="tranType" noselect="" class="form-control"/></li>
                            <li>
                                <button class="btn btn-sm btn-primary" type="button" id="conditionSearch" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/account/account/accountDetailsQueryList.html">查询</button>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tool-btns">
            </div>
        </div>
    </div>
    <div class="row mt20">
        <div class="col-md-12">
            <table id="jqGrid" class="table-td-NoOverflow"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
    <script type="text/javascript">
        //设置开始时间控件
        var startTime = {
            elem: '#startTime',
            format: 'YYYY-MM-DD', //日期格式
            istime: false, //是否开启时间选择
            max: $('#endTime').val(),
            event: 'focus',
            choose: function (dates) {
                endTime.min = dates;
                endTime.start = dates;
            }
        };

        //设置发放结束时间
        var endTime = {
            elem: '#endTime',
            format: 'YYYY-MM-DD', //日期格式
            istime: false, //是否开启时间选择
            min: $('#startTime').val(), //最小日期
            event: 'focus',
            choose: function (dates) {
                startTime.max = dates;
            }
        };
        laydate(startTime);
        laydate(endTime);

        <@dictFormatter type = "tranType" />
            $(document).ready(function () {
                //表格初始化
                $("#jqGrid").jqTreeGrid({
                    url: '/account/account/accountDetailsQueryList.html',
                    multiselect: false,
                    colModel: [
                        {label: '入账日期', name: 'accDate', width: 20},
                        {label: '交易日期', name: 'inpDate', width: 20},
                        {label: '自然日期', name: 'relDate', width: 20},
                        {label: '交易时间', name: 'inpTime', width: 20},
                        {label: '流水号', name: 'traceNo', width: 20},
                        {label: '电子账号', name: 'accountId', width: 20},
                        {label: '交易类型', name: 'tranType', width: 20, formatter: tranTypeFormatter},
                        {label: '冲正撤销标志', name: 'orFlag', width: 20},
                        {label: '交易金额', name: 'txAmount', width: 20},
                        {label: '交易金额符号', name: 'txFlag', width: 20},
                        {label: '交易描述', name: 'describe', width: 20},
                        {label: '货币代码', name: 'currency', width: 20},
                        {label: '交易后余额', name: 'currBal', width: 20},
                        {label: '对手电子账号', name: 'forAccountId', width: 20}
                    ]
                });
            });
    </script>
</div>
</body>
</html>