<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>产品列表</title>
		<#include "include/resources.html">
	</head>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="请输入用户名名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/account/account/checkList.html">搜索</button>
							    </span>		    
						    </div>
					    </form>	
					</div>					
					<div class="search-form-adv ml10">
						<form>
							<div class="btn-group" onclick="$.fn.page.dropdownSelectHoverFun(this)">
							  <button type="button" class="btn btn-info dropdown-select-toggle" data-toggle="#" aria-haspopup="true" aria-expanded="false"> 条件查询 <span class="caret"></span></button>							  
							  <ul class="dropdown-menu search-menu">
							    <li class="input-group input-group-sm"><span>用户名</span><input type="text" class="form-control" name="userName" /></li>
							     <!--<li class="input-group input-group-sm"><span>状态</span> <@linkage name="status" nid="accountStatus" noselect="不限" class="form-control"/>  </li>-->
							     </li>
							    <li><button class="btn btn-sm btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/account/account/checkList.html">查询</button></li>
							  </ul>							  
							</div>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tool-btns">
					</div>					
				</div>
			</div>
			<div class="row mt20">
				<div class="col-md-12">
					<table id="jqGrid"></table>
					<div id="jqGridPager"></div>
				</div>
			</div>
			<script type="text/javascript">
					$(document).ready(function() {												
						//表格初始化
						$("#jqGrid").jqTreeGrid({
							url: '/account/account/checkList.html',	
							  multiselect : false,	
							  colModel: [
			                    { name: 'uuid', label: '编号', width: 50,hidden:true},
								{ name: 'userName', label: '用户名', width: 100},
								{ name: 'realName', label: '真实姓名', width: 60},
								{ name: 'useMoney', label: '本地可用金额', width: 80 },
								{ name: 'noUseMoney', label: '本地冻结金额', width: 80 },
								{ name: 'tppUseMoney', label: '第三方可用金额', width: 80 },
								{ name: 'tppNoUseMoney', label: '第三方冻结金额', width: 80 },
								{ name: 'tppUserCustId', label: '第三方ID', width: 120 },
								{ name: 'useMoneyDiff', label: '可用差额', width: 80 },
								{ name: 'noUseMoneyDiff', label: '冻结差额', width: 80 }
			                ]
						}) ;			
					});
			</script>
		</div>
	</body>
</html>