<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>用户账户列表</title>
		<#include "include/resources.html">
	</head>
	<style>
		.layui-layer-loading .layui-layer-loading3{width:200px!important;padding-left: 66px;color: #fff;line-height: 24px;}
	</style>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="请输入用户名,认证名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/account/account/list.html">搜索</button>
							    </span>		    
						    </div>
					    </form>	
					</div>					
					<div class="search-form-adv ml10">
						<form>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
							<@shiro.hasPermission name="account:userAccount:export">
						    <a href="javascript:" class="btn btn-info" onclick="exportExcel(this)" data-title='用户账户列表' data-url="/account/account/export.html" data-tid="jqGrid">导出</a>
						    </@shiro.hasPermission>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tool-btns">
					</div>					
				</div>
			</div>
			<div class="row mt20">
				<div class="col-md-12">
					<table id="jqGrid"></table>
					<div id="jqGridPager"></div>
				</div>
			</div>
			<script type="text/javascript">
			var tppName = "${tppName}";
			<@dictFormatter type = "userNature" />
					$(document).ready(function() {												
						//表格初始化
						$("#jqGrid").jqTreeGrid({
							url: '/account/account/list.html',	
							  multiselect : false,	
							  colModel: [
			                    { label: 'id', name: 'uuid', width: 65, hidden:true},
			                    { label: '用户名', name: 'userName',index:"user_name",width: 30},
			                    { label: '认证名称', name: 'realName',index:"real_name",width: 15},
			                    { label: '用户类型', name: 'userNature',index:"user_nature",width: 15,formatter: userNatureFormatter},
			                    { label: '账户总额（元）', name: 'total',index:"total",width: 15},
								{ label: '可用金额（元）', name: 'useMoney',index:"use_money", width: 15},			
								{ label: '冻结金额（元）', name: 'noUseMoney',index:"no_use_money",  width: 10},
								{ label: '未投资资金（元）', name: 'cashFeeMark',width:15},			
								{ label: '已减免手续费（次/月）', name: 'advanceCount', width:18},			
								{ label: '托管账户ID', name: 'tppUserCustId',index:"tpp_user_cust_id", width: 25},
								{ label: '操作', name: 'cz',sortable:false,width: 20,
									formatter:function(val, options, rowObject){	
								  	var btns = '';
								   	var id = rowObject.id;
							 	    if(rowObject.tppStatus != "1" ){ 
												btns = '尚未开户';
									}
									if(rowObject.tppStatus == "1"){	
										if("cbhb" == tppName){
											if(rowObject.userNature == 1){
												<@shiro.hasPermission name="account:userAccount:query">
													btns +='<a href="javascript:;" onclick=$.fn.treeGridOptions.checkFun(this,"'+id+'") data-tid="jqGrid" data-title="查看托管账户资金" data-url="/account/account/userAccount.html">查看托管账户资金</a>';
									    		</@shiro.hasPermission>
											}else{
												btns = '无权查询企业户';
											}
										}else{
											<@shiro.hasPermission name="account:userAccount:query">
												btns +='<a href="javascript:;" onclick=$.fn.treeGridOptions.checkFun(this,"'+id+'") data-tid="jqGrid" data-title="查看托管账户资金" data-url="/account/account/userAccount.html">查看托管账户资金</a>';
								    		</@shiro.hasPermission>
										}
									}		
								   return btns;
								}}
			                ]
						}) ;			
					});
					
			</script>
		</div>
	</body>
</html>