<div class="wrap-full footer" id="footer">
    <div class="wrap footer-wrap">
        <div class="site-row">
            <div class="site-col-14 footer-left">
                <div class="clearfix">
                    <span class="footer-logo"></span>
                    <div class="icons-media"><a href="http://weibo.com/iulicai" target="_blank"><span class="iconfont">&#xe609;</span></a><span class="iconfont">&#xe605;<div class="topTipsWrap"><div class="topTips"><img src="/themes/img/wx.png" /></div></div></span><span class="iconfont">&#xe606;<div class="topTipsWrap" style="width: 110px;text-align: left;top: -80px"><div class="topTips" style="font-size:14px;line-height: 28px;"><div>理财QQ群：</div>524392797</div></div></span></div>
                </div>
                <p class="footer-link"><a href="/column/sectionDetail.html?sectionCode=platformInfo">关于我们</a><a href="/column/helpCenter.html?sectionCode=chargeFee">资费说明</a><a href="/column/helpCenter.html?sectionCode=help">常见问题</a><a href="/column/helpCenter.html?sectionCode=lawInfo">法律声明</a><a href="/column/sectionDetail.html?sectionCode=contactUs">联系我们</a></p>
            </div>
            <div class="site-col-6 site-col-last footer-right">
                <p><i>${customer_hotline!}</i><br/>周一至周六(9:00~21:00)</p>
            </div>
        </div>
        <div class="footer-copyright">
           ${web_index_copyright}　理财有风险　投资需谨慎
        </div>
    </div>        
</div>
<div id="quickBtn"></div> 