<style>
    .site-col-5{width:335px;}
	.logo{float:left;}
</style>
<div id="header" data-url="${image_server_url!}">
    <div class="wrap-full header-info">
        <div class="site-row clearfix">
            <div class="site-col-8 header-info-left">
                <span>客服热线：${customer_hotline!}</span><dl><dt>关注我们</dt><dd><a href="${web_index_sina_microblog}"><span class="iconfont">&#xe609;</span></a></dd><dd><span class="iconfont">&#xe605;</span><div class="topTipsWrap"><i></i><div class="topTips"><img src="/themes/img/wx.png"></div></div></dd><dd><a href=""><span class="iconfont">&#xe606;</span></a><div class="topTipsWrap" style="width: 120px;"><div class="topTips" style="font-size:14px;line-height: 28px;"><div>理财QQ群：</div>3840***934</div></div></dd></dl>
            </div>
            <div class="site-col-14  header-info-right fr">
                <#if session_user?exists ><a href="/member/account/main.html" class="first">${session_user.userName}</a><a href="/user/logout.html" class="first">退出</a><#else><a href="/user/login.html" class="first">登录</a><a href="/user/register.html" class="first">注册</a></#if><a href="#" class="phone_icon"><i class="iconfont font-f95a28">&#xe607;</i>手机APP</a><a href="/column/helpCenter.html?sectionCode=help" class="last">帮助中心</a>
            </div>
        </div>
    </div>       
    <div class="site-row header-cont">
        <div class="site-col-5">
            <a href="/" <#if open_product=='1'>class="logo1"<#else>class="logo"</#if>></a>
            <span class="logo-title">积分商城</span>
        </div>
        <#if session_user?exists >
        <div class="pull-right site-col-last login-state">                	        
            <div class="myAccount">
            <i>
            	<#if session_company_logo_path ?? && session_company_logo_path != '' >
            		<img src="${image_server_url!}${session_company_logo_path!}" width="24" height="24">
            	<#elseif session_user_cache.avatarPhoto?? && session_user_cache.avatarPhoto != "">
            		<img src="${image_server_url!}${session_user_cache.avatarPhoto!}" width="24" height="24">
            	</#if>
            </i><a href="/member/account/main.html">我的账户</a><em class="iconfont">&#xe636;</em></div>
            <ul>
                <li><a href="/member/account/main.html">账户概览</a></li>
                <li><a href="/member/myInvest/list.html">我的投资</a></li>
                <li><a href="/member/fund/list.html">资金明细</a></li>
                <li><a href="/member/myScore/scoreIn.html">我的商城</a></li>
                <li><a href="/member/security/pwdQuestion.html">安全设置</a></li>
                <li><a href="/user/logout.html">退出账户</a></li>
            </ul>	           
        </div>
        <#else>
        <div class="pull-right site-col-last login-state">                	        
            <div class="myAccount"><i></i><a href="/member/account/main.html">我的账户</a><em class="iconfont">&#xe636;</em></div>	           
        </div>        
        </#if> 
    </div>
    <div class="scoreHeader">
    	<ul class="clearfix">
    		<li <#if (pageFlag??&&pageFlag=='scoresy')> class="active" </#if>><a href="/scoreshop/index.html">商城首页</a></li>
    		<li <#if (pageFlag??&&pageFlag=='scorelist')> class="active" </#if>><a href="/scoreshop/goodsList.html">商品列表</a></li>
    		<!-- <li <#if (pageFlag??&&pageFlag=='scoreshop')> class="active" </#if>><a href="/member/myScore/scoreOut.html">我的商城</a></li> -->
    		<li <#if (pageFlag??&&pageFlag=='scorehelp')> class="active" </#if>><a href="/scoreshop/mallHelp.html">商城帮助</a></li>
    		<li class="sy"><a href="/">平台首页</a></li>
    	</ul>
    </div>        
</div> 