<style>
  .layui-layer-dialog .layui-layer-content{
  	overflow:inherit!important;
  }
</style>
<div class="form-tips-content">
	<input type="hidden" id="image_server_url" value="${image_server_url}">
	<form class="form-horizontal" action="/product/manage/publishVerify.html" id="form" role="form">
		<ul class="form-item">
		 <li>
			<div class="form-group">
		      <label  class="control-label form-label">产品名称：</label>
		     <div class="input-box-read">
						<p>${product.projectName!}</p>
					</div>
		    </div>	
  		</li>
  				<li>
			<div class="form-group">
		      <label  class="control-label form-label">产品风险等级：</label>
		       <div class="input-box-read">			
		      	<p>${product.riskLevelName!}</p>
		      </div>
		    </div>	
  		</li>
			<li>
				<div class="form-group">
					<label  class="control-label form-label">资金账户：</label>
					<div class="input-box-read">						
						<p>${product.userName!}</p>						
					</div>
				</div>
			</li>
  			<li>
			<div class="form-group">
		      <label  class="control-label form-label">产品金额：</label>
		       <div class="input-box-read">						
						<p>${product.account!}元</p>						
					</div>
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		      <label  class="control-label form-label">年利率(%)：</label>
		         <div class="input-box-read">						
						<p>${product.apr!}</p>						
		          </div>	
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		      <label  class="control-label form-label">借款期限：</label>
		      <div class="input-box-read">			
		         <p> ${product.timeLimit!}<#if product.timeType==1>天<#else>个月</#if></p>		
		      </div>
		    </div>	
  		</li>
  		<li>
				<div class="form-group">
			      <label  class="control-label form-label">计息方式：</label>
			      <div class="input-box-read">
			      	<p><#if product.interestStyle == '1'>
							 成立计息
						<#else>
							<b>T</b>+${product.interestStartDays!}计息  （T为交易登记日，交易登记日时间段 ${product.interestTime!'00'} +24h）
						</#if>
						</p>
			      </div>			         
			    </div>	
	  		</li>	  
  		<li>
			<div class="form-group">
		      <label  class="control-label form-label">还款方式：</label>
		       <div class="input-box-read">			
		         <p><@linkage   id="repayStyle" nid="repayStyle"  default="${product.repayStyle!}"  plantext="plantext"    /></p>	
		      </div>
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		      <label  class="control-label form-label">固定还款日：</label>
		       <div class="input-box-read">			
		         <p><#if (product.fixedRepayDay?? && product.fixedRepayDay > 0) >${product.fixedRepayDay}日<#else>无</#if></p>	
		      </div>
		    </div>	
  		</li>
  			<li>
			<div class="form-group">
		      <label  class="control-label form-label">销售规则：</label>
		       <div class="input-box-read">			
		         <p><@linkage  id="saleStyle" nid="saleStyle" default="${product.saleStyle!}"   plantext="plantext"    /></p>	
		      </div>
		    </div>	
  		</li>
  	 	<#if product.saleStyle=="1">
  		<li>
			<div class="form-group">
		       <label  class="control-label form-label">最低起投金额：</label>
		              <div class="input-box-read">						
							<p>${product.lowestAccount!}元</p>						
			          </div>	
		    </div>	
  		</li>
  		<#if  product.stepAccount?? && product.stepAccount gt 0 >
  		<li>
			<div class="form-group">
		       <label  class="control-label form-label">递增金额：</label>
		              <div class="input-box-read">						
							<p>${product.stepAccount!''}元
							</p>						
			          </div>	
		    </div>	
  		</li>
  		</#if>
  		<li>
			<div class="form-group">
		       <label  class="control-label form-label">最高投资总额：</label>
		            <div class="input-box-read">						
							<p>${product.mostAccount!}元</p>						
			          </div>	
		    </div>	
  		</li>
  		<#else>
  		<!-- 按份数购买 -->
  	    <li>
			<div class="form-group">
		       <label  class="control-label form-label">总份数：</label>
		            <div class="input-box-read">						
							<p>${product.totalCopies!}</p>						
			          </div>	
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		       <label  class="control-label form-label">每份金额：</label>
		             <div class="input-box-read">						
							<p>${product.copyAccount!}</p>						
			          </div>	
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		       <label  class="control-label form-label">最低起投份数：</label>
		             <div class="input-box-read">						
							<p>${product.lowestCopies!}</p>						
			          </div>	
		    </div>	
  		</li>  		
  		<li>
			<div class="form-group">
		       <label  class="control-label form-label">最高投资份数：</label>
			         <div class="input-box-read">						
							<p>${product.mostCopies!}</p>						
			          </div>	
		    </div>	
  		</li>
  		</#if>
  		<#-- <li>
			<div class="form-group">
		      <label  class="control-label form-label">利息管理费(%)：</label>
		            <div class="input-box-read">						
						<p>${product.interestManageRate!}</p>						
		             </div>
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		      <label  class="control-label form-label">逾期罚息率(%)：</label>
		        <div class="input-box-read">						
					  <p>${product.overdueFeeRate*100!}</p>
		       </div>
		    </div>	
  		 </li>-->
  			<li>
			<div class="form-group">
		      <label  class="control-label form-label">自动还款：</label>
		        <div class="input-box-read">						
					       <p> <#if product.autoRepay==1>是<#else>否</#if></p>
		             </div>
		    </div>	
  		 </li>
			<li>
				<div class="form-group">
					<label  class="control-label form-label">添加时间：</label>
					<div class="input-box-read">
						<p><#if product.createTime??> ${product.createTime?string("yyyy-MM-dd HH:mm:ss")}</#if></p>
					</div>
				</div>
			</li>
			<li class="full-width">
				<div class="form-group">
					<label  class="control-label form-label">产品详情：</label>
					<div class="textarea-box-read" id="j-prdcont"></div>
					<textarea style="display:none" id="j-tipcont">${product.content!}</textarea>
				</div>
			</li>
			<li class="full-width">
				<div class="form-group">
					<label for="status" class="control-label form-label">是否通过：</label>
					<div class="input-checkbox-box">
						<input type="radio" name="status" value="1"><label for="">通过</label>
						<input type="radio" name="status" value="0" checked><label for="">不通过</label>
					</div>
				</div>
			</li>
			<li class="full-width">
				<div class="form-group">
					<label  class="control-label form-label">备注<span style="color:red;">*</span>：</label>
					<div class="input-box" style="width:82%;">
						<textarea rows="" cols="" required class="form-control" name="remark" maxLength="128"></textarea>
					</div>
				</div>
			</li>
			
		</ul>
		<div class="detail" style="display:none;"> 
			<h3>请确认审核信息：</h3>
			<p style="padding-top:10px;">产品名称：${product.projectName!}</p>
			<p>年利率：${product.apr!}%</p>
			<p>资金账户：${product.userName!}</p>
			<p>产品金额：${product.account!}元</p>
		</div>
		<input type="hidden" name="uuid" value="${product.uuid}"/>
	    <input type="hidden"  name="projectId" id="projectId" value="${product.uuid}"  >
		 <@token name="publishVerifyProductToken"/>
	</form>
</div>
<script src="${theme_dir}/static/js/plugins/jquery.suggest.js"></script>
<script src="${theme_dir}/static/js/ajaxfileupload.js"></script>
<script src="${theme_dir}/static/js/upload.js"></script>
<script>
$("#j-prdcont").html($("#j-tipcont").html().replace(/&lt;script.*?&gt;.*?&lt;\/script&gt;/ig, '').replace(/&lt;/g,"<").replace(/&gt;/g,">"));
var str =  $(".detail").html();
$("#form").validate({
	submitHandler: function(form) {
		layer.alert(str, {
			icon: 6,
			cancel: function(index){
				layer.close(index);
				return false; 
			}
		}, function(index) {						
			layer.close(index);
			$(form).ajaxSubmit({
			type: "post",
			dataType: "json",
			success: function(data) {
				if (data.result) {
					layer.alert(data.msg, {
						icon: 6,
						cancel: function(index){
								layer.closeAll();
								gridobj.trigger("reloadGrid"); //重新载入 
	  						}
					}, function() {						
						layer.closeAll();
						gridobj.trigger("reloadGrid"); //重新载入  
					});
				} else {
					layer.alert(data.msg, {
						icon: 5
					});
				}
			}
		});
		});	
		
	}
});
</script>