<!DOCTYPE html>
<html lang="en">
<head>
    <#assign pageFlag="scorehelp">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>积分商城-${web_name!""}</title>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <link rel="stylesheet" type="text/css" href="/mallHelp.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
    <!--[if lte IE 7]>
    	<script>
    		window.location = "/browserUpgrade.html"
    	</script>
    <![endif]-->
<body>
    <#include "include/header-score.html">
      <div id="mallHelp">
      </div>
    <#include "include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/common.js"></script>
<script src="/mallHelp.js"></script>
</html>
