@function px2rem($px){
  $rem : 75px;
  @return ($px/$rem) + rem;
}
/*整个页面背景*/
$page-bg: #f5f5f5;
$main-color: #d73238;
$tip-color: #67748d;
$color-blue: #26a2ff;
$color-white: #fff;
$color-grey: #d9d9d9;
$border-color: #c8c8cd;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;

/* Cell Component */
$cell-value-color: #888;

/* Header Component */
$header-height: 40px;

/* Button Component */
$button-default-color: #656b79;
$button-default-background-color: #f6f8fa;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #fff;
$button-primary-background-color: #26a2ff;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

/* Tab Item Component */
$tab-item-font-size: 12px;

/* Tabbar Component */
$tabbar-background-color: #fff;
$tabbar-tab-item-selected-background-color: #F95A28;
$tabbar-tab-item-selected-color: $color-blue;

/* Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

/* Checklist Component */
$checklist-title-color: #888;

/* Radio Component */
$radio-title-color: #888;

/* z-index */
$z-index-normal: 1;

/* 伪类 + transfrom 实现1px边框*/

