<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>上架管理</title>
		<#include "include/resources.html">
		<script type="text/javascript">
			var url_list = "/loan/borrow/borrowSaleList.html";
			$(document).ready(function() {	
				$('#keywordsSearch').attr('data-url',url_list);
				$('#conditionSearch').attr('data-url',url_list);				
			});
		</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="请输入借款方/借款名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" id="keywordsSearch" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid">搜索</button>
							    </span>		    
						    </div>
					    </form>	
					</div>					
					<div class="search-form-adv ml10">
						<form>
							<div class="btn-group" onclick="$.fn.page.dropdownSelectHoverFun(this)">
							  <button type="button" class="btn btn-info dropdown-select-toggle" data-toggle="#" aria-haspopup="true" aria-expanded="false"> 条件查询 <span class="caret"></span></button>							  
							  <ul class="dropdown-menu search-menu">
							     <li class="input-group input-group-sm"><span>借款方</span><input type="text" class="form-control" name="borrower" /></li>
							    <li class="input-group input-group-sm"><span>借款名称</span><input type="text" class="form-control" name="projectName" /></li>
 								<li class="input-group input-group-sm"><span>借款期限</span><@linkage name="timeCondition" nid="timeCondition" noselect="不限" class="form-control"/></li>								    <li class="input-group input-group-sm"><span>借款性质</span><@linkage name="borrowNature" nid="borrowNature" class="form-control"/></li>
							    <li><button class="btn btn-sm btn-primary" type="button" id="conditionSearch" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid">查询</button></li>
							  </ul>							  
							</div>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tool-btns">
						<!-- 
						<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.setFun(this)" data-tid="jqGrid" data-url="/loan/borrow/borrowVerifyPage.html" data-title="审核">审核</button>				
						<button type="button" class="btn btn-primary" onclick="$.fn.treeGridOptions.checkFun(this)" data-tid="jqGrid" data-url="/loan/borrow/borrowView.html" data-title="查看">查看</button>			
						 -->
					</div>					
				</div>
			</div>
			
			<!-- 列表信息 -->
			<#include "loan/borrow/borrowList.html">
			
		</div>
	</body>
</html>