<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新增借款</title>
<#include "include/resources.html">
</head>
<body data-flag="true" class="overflowY">
<input type="hidden" id="image_server_url" value="${image_server_url}">
<div class="form-tips-content">
	<form class="form-horizontal" action="/loan/borrow/borrowAdd.html" id="form" role="form">
		<h3 class="borrowFormTitle">【新增借款】</h3>
		<ul class="form-item">
			<li>
				<div class="form-group">
					<label for="projectName" class="control-label form-label">借款名称<span style="color:red;">*</span>：</label>
					<div class="input-box">
						<input type="text" class="form-control" name="projectName" id="projectName" maxlength="25" placeholder="请输入名称" required>
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
			      <label for="sort" class="control-label form-label">风险等级<span style="color:red;">*</span>：</label>
			      <div class="input-box">
			      	<select name="riskLevel" autocomplete="off" id="riskLevel" class="form-control required" data-msg-required="请选择">
			      		<option selected="selected" value="">请选择</option>
			      		<#list levelList as item>
			      			<option value="${item.riskLevelVal}">${item.riskLevelName}</option>
			      		</#list>
			      	</select>
			      </div>
			    </div>	
	  		</li>	  		
			<li>
				<div class="form-group">
					<label for="userName" class="control-label form-label">借款方<span style="color:red;">*</span>：</label>
					<div class="input-box">
						<input type="text" readonly class="form-control" style="width: auto; display: inline-block; vertical-align: middle;" name="userName" id="userName" placeholder="请点击按钮选择借款方" required data-msg-required="请选择" autocomplete="off">
						<button type="button" class="btn btn-primary" onclick="$.fn.treeGridOptions.borrowSelect(this, borrowerSelectFn)" data-tid="jqGrid" data-title="借款方选择" data-url="/loan/borrow/borrowerPage.html">选择</button>
						<div id="keyword"></div>
						<input type="hidden" class="form-control" name="userId" id="userId">
					</div>
				</div>
			</li>					
			<li>
				<div class="form-group">
					<label for="account" class="control-label form-label">借款总金额<span style="color:red;">*</span>：</label>
					<div class="input-box">
						<input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" onchange="calCostManage();" class="form-control" name="account" id="account" placeholder="请输入借款总金额" data-rule-digits="true" data-msg-digits="请输入整数" data-rule-rangeNumber="${borrowMinAccount}, ${borrowMaxAccount}" data-msg-rangeNumber="借款总金额不能小于${borrowMinAccount},且不能超过${borrowMaxAccount}" required>
					</div>
				</div>
			</li>			
			<li>
				<div class="form-group">
					<label for="apr" class="control-label form-label">年利率<span style="color:red;">*</span>：</label>
					<div class="input-box">
						<input type="text" class="form-control" style="width: auto; display: inline-block; vertical-align: middle;" name="apr" id="apr" placeholder="请输入年利率" data-rule-rangeNumber="${borrowMinApr!}, ${borrowMaxApr!}" data-msg-rangeNumber="输入的值在${borrowMinApr!}~${borrowMaxApr!}之间" required>&nbsp;%
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="borrowUse" class="control-label form-label">借款用途：</label>
					<div class="input-box">
						<@linkage name="borrowUse" nid="borrowUse" class="form-control"/>
					</div>
				</div>
			</li>			
	  		<li>
				<div class="form-group">
			      <label for="timeType" class="control-label form-label">借款期限类型：</label>
			      <div class="input-checkbox-box" style="height:34px;">
			        <input type="radio"  id="timeTypeRadio1" name="timeType" value="0">
			        <label for="timeTypeRadio1">月</label>
			        <input type="radio" id="timeTypeRadio2" name="timeType" value="1" checked>
			        <label for="timeTypeRadio2">天</label>
			      </div>
			    </div>	
	  		</li>
			<li>
				<div class="form-group">
					<label for="timeLimit" class="control-label form-label">借款期限<span style="color:red;">*</span>：</label>
					<div class="input-box">
						<input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" maxlength="3" name="timeLimit" id="timeLimit" placeholder="请输入借款期限"  data-rule-digits="true" data-msg-digits="请输入整数" required>
					</div>
				</div>
			</li>	
			<li>
				<div class="form-group">
					<label for="borrowUse" class="control-label form-label">标的类别：</label>
					<div class="input-box">
						<@linkage name="projectType" nid="project_type_manage" class="form-control"/>
					</div>
				</div>
			</li>				
			<li>
				<div class="form-group">
					<label for="lowestAccount" class="control-label form-label">最低起投金额<span style="color:red;">*</span>：</label>
					<div class="input-box">
					   <input type="hidden" name="saleStyle" value="1">
						<input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" name="lowestAccount" id="lowestAccount" placeholder="请输入最低起投金额" data-rule-digits="true" data-msg-digits="请输入整数" data-rule-lessThan="#account" data-msg-lessThan="最低起投金额不能高于借款总金额" required value="${lowestInvestAccount}">
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="stepAccount" class="control-label form-label">递增金额：</label>
					<div class="input-box">
						<input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" name="stepAccount" id="stepAccount" placeholder="请输入递增金额" data-rule-digits="true" data-msg-digits="请输入整数">
					</div>
				</div>
			</li>			
			<li>
				<div class="form-group">
					<label for="mostAccount" class="control-label form-label">最高投资总额：</label>
					<div class="input-box">
						<input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" name="mostAccount" id="mostAccount" placeholder="请输入最高投资总额,默认为借款总金额" data-rule-digits="true" data-msg-digits="请输入整数" data-rule-lessThan="#account" data-msg-lessThan="最高投资总额不能高于借款总金额" data-rule-greaterThan="#lowestAccount" data-msg-greaterThan="最高投资总额不能小于最低起投金额">
					</div>
				</div>
			</li>			
			<li>
				<div class="form-group">
			      <label for="sort" class="control-label form-label">计息方式：</label>
			      <div class="input-box row" style="margin:0; padding:0;position:relative;top:5px;">
			      	<input name="interestStyle" id="interestStyle1" value="1" type="radio" checked> 成立计息
			      	<input name="interestStyle" id="interestStyle2" value="2" type="radio" style="margin-left:10px;">
		      		 <b>T</b>+<select class="tnContainer" disabled="disabled" name="interestStartDays" id="interestStartDays" data-msg-required="请选择计息起始天数"  required>
			      		<option value="">请选择</option>
			      		<#list 0..7 as t>
			      		   <option value="${t}">${t}</option>
			      		</#list>
			      		</select>计息  （T为交易登记日，交易登记日时间段
		      		<select class="tnContainer" disabled="disabled" name="interestTime" id="interestTime">
		      			<#list hourList as item>
		      			<option value="${item}">${item}</option>
			      		</#list>		      			
		      		</select>时 +24h）
			      </div>
			    </div>	
	  		</li>	  		
	  		<li>
				<div class="form-group">
			      <label for="sort" class="control-label form-label">还款方式<span style="color:red;">*</span>：</label>
			      <div class="input-box">
			        <@linkage name="repayStyle" id="repayStyle" nid="repayStyle"   class="form-control required" noselect="请选择" />
			      </div>
			    </div>	
	  		</li>	
	  		<li class="hide" id="fixRepayDayBox">
				<div class="form-group" style="height: 34px;">
					<div>
						<label for="fixedRepayDay" class="control-label form-label">固定还款日：</label>
						<div class="input-box">
							<input type="text" class="form-control" name="fixedRepayDay" id="fixedRepayDay" placeholder="请输入固定还款日" max="30" min="1" data-rule-digits="true" data-msg-digits="请输入整数">
					    </div>
				    </div>
				</div>
			</li>	  				
			<li>
				<div class="form-group">
					<label for="isPawn" class="control-label form-label">是否有抵押物：</label>
					<div class="input-checkbox-box" style="height:34px;">
						<input type="radio"  id="isPawn1" name="isPawn" value="0" checked>
				        <label for="isPawn1">否</label>
				        <input type="radio" id="isPawn2" name="isPawn" value="1">
				        <label for="isPawn2">是</label>
					</div>
				</div>
			</li>
			<li class="hide" id="pawnImgBox">
				<div class="form-group" style="min-height: 34px;">
					<div>
						<label for="borrowUse" class="control-label form-label">抵押物资料：</label>
						<div class="">
							<div id="uploadGuaranteeBox1" class="uploadWrap" data-arr="uploadFile1">
						    	<ul id="borrowPagePic1" class="photoUpload">
					        	<li class="addFileBtn">
					            	<input type="file" name="file"  accept="image/gif, image/jpeg,image/png" class="uploadFileInput" id="uploadFile1" onchange="return ajaxFileUpload('uploadFile1','/imageUp.jsp?editorid=mortgage','mtgPath');" title="点击上传图片" />
					            </li>
					        </ul>
						    </div>
						</div>
					</div>
				</div>
			</li>
			
			<li>
				<div class="form-group">
					<label for="isVouch" class="control-label form-label">是否担保：</label>
					<div class="input-checkbox-box" style="height:34px;">
						<input type="radio"  id="isVouch1" name="isVouch" value="0" checked>
				        <label for="isVouch1">否</label>
				        <input type="radio" id="isVouch2" name="isVouch" value="1">
				        <label for="isVouch2">是</label>
					</div>
				</div>
			</li>
			<li class="hide" id="vouchNameBox">
				<div class="form-group" style="height: 34px;">
					<div>
						<label for="vouchId" class="control-label form-label">担保机构：</label>
						<div class="input-box">
						<select name="vouchId" id="vouchId" class="form-control">
							<option value="">请选择</option>
							<#if vouchList??><#list vouchList as item>
								<option value="${item.uuid!}">${item.realName!}</option>
							</#list></#if>		
						</select>
						</div>
					</div>					
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="borrowManageRate" class="control-label form-label">借款管理费<span style="color:red;">*</span>：</label>
					<div class="input-box">
						<input type="text" class="form-control" onchange="calCostManage();" style="width:25%; display: inline-block; vertical-align: middle;" data-rule-aprval="true" data-msg-aprval="输入的值在0~100之间" maxlength="6" name="borrowManageRate" id="borrowManageRate" value="${borrowManageRate}" placeholder="请输入借款管理费" required>&nbsp;%&nbsp;&nbsp;&nbsp;&nbsp;
				    	<label>管理费：</label>&nbsp;&nbsp;<input style="width:25%; display: inline-block; vertical-align: middle;" class="form-control" readonly="readonly" name="costManage" id="costManage" placeholder="0">
				    </div>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label for="interestManageRate" class="control-label form-label">利息管理费<span style="color:red;">*</span>：</label>
					<div class="input-box">
						<input type="text" class="form-control" style="width: auto; display: inline-block; vertical-align: middle;" data-rule-aprval="true" data-msg-aprval="输入的值在0~100之间" maxlength="6" name="interestManageRate" id="interestManageRate" value="${interestManageRate}" placeholder="请输入利息管理费" required>&nbsp;%
					</div>
				</div>
			</li>
			<li>
				<div class="form-group">
			      <label   class="control-label form-label">逾期罚息利率<span style="color:red;">*</span>：</label>
			      <div class="input-box">
			     	 <input type="text" class="form-control" style="width: auto; display: inline-block; vertical-align: middle;" data-rule-aprval="true" data-msg-aprval="输入的值在0~100之间" maxlength="6" name="overdueFeeRate" id="overdueFeeRate" value="${overdueFeeRate}" placeholder="请输入有效的逾期罚息利率" required>&nbsp;%
			      </div>
			    </div>	
  			</li>
			<li class="full-width">
				<div class="form-group">
					<label for="pwd" class="control-label form-label">借款资料<span style="color:red;">*</span>：</label>
					<div class="clearfix pull-left" style="width: 80%">
						<div id="uploadGuaranteeBox2" class="uploadWrap" data-arr="uploadFile2">
					    	<ul id="borrowPagePic2" class="photoUpload clearfix">
					        	<li class="addFileBtn">
					            	<input type="file" name="file"  accept="image/gif, image/jpeg,image/png" class="uploadFileInput" id="uploadFile2" onchange="return ajaxFileUpload('uploadFile2','/imageUp.jsp?editorid=borrow','picPath');" title="点击上传图片" />
					            </li>
					        </ul>
					    </div>
					</div>
				</div>
			</li>			
			<li class="full-width">
				<div class="form-group">
					<label for="remark" class="control-label form-label">借款详情<span style="color:red;">*</span>：</label>
					<div class="textarea-box">
					<#include "include/ueditor.html">
					<@showUeditor width=650 height=200 id="productEditor" name="content" content="" readOnly=false />
					</div>
				</div>
			</li>
			<li class="full-width">
	  			<div style="text-align:center;">
	        		<input type="submit" class="btn btn-primary"  id="addSubmit" value="提 交">
	        		<input type="reset" class="btn btn-warning"  id="j-reset" value="重 置" style="margin-left: 20px;">
	         	</div>
	  		</li>
		</ul>
		 	<@token name="addBorrowToken"/>
	</form>
</div>
<script src="${theme_dir}/static/js/plugins/jquery.suggest.js"></script>
<script src="${theme_dir}/static/js/ajaxfileupload.js"></script>
<script src="${theme_dir}/static/js/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="${theme_dir}/static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen">
<script src="${theme_dir}/static/js/upload.js"></script>
<script>

function calCostManage() {
	var totalMoney = $("#account").val().trim();
	var borrowManageRate = $("#borrowManageRate").val().trim();
	var costManage = totalMoney * borrowManageRate / 100;
	$("#costManage").val(costManage );
}

document.body.addEventListener('dragstart', function (event) {
	event.preventDefault()
	return false;
}, false);
//天标为一次性还款限制
$('.btn-warning').click(function () {
    ue.setContent('');
})

$("#repayStyle option").each(function(index,obj){
      if($(obj).val() == 2){
          $(obj).prop("selected", true);
      }else{
         $(obj).prop("selected", false);
         $(obj).hide();
      }
});

//利息管理费
$("#borrowManageRate,#overdueFeeRate,#interestManageRate").on("keyup", function(){
	if(!$(this).val()) return false;
	var _this = $(this)[0];
	_this.value = $.fn.page.decimalsNumber(_this.value);
	
})/*.on("blur", function(){
	var _val = $(this).val(),
		val = (_val > 100) ? 100 : (_val <= 0) ? 0 : _val;
	val = $.fn.page.charTwoDecimals(val);
	$(this).val(val);
});*/

$("input[name=timeType]").click(function(){
	 switch($("input[name=timeType]:checked").attr("id")){
		  case "timeTypeRadio1":
			    $("#repayStyle option").show();
			    $("#repayStyle").val("");
			   break;
		  case "timeTypeRadio2":
			    $("#repayStyle option").each(function(index,obj){
			              if($(obj).val() == 2){
			                  $(obj).prop("selected", true);
			              }else{
			                 $(obj).prop("selected", false);
			                 $(obj).hide();
			              }
			        });
			   break;       
	       default:
		      break;
		 }
 });
 $('#addSubmit').click(function () {
 	var con = $("#productEditor").html().replace(/<[^>].*?>/g,"");
 	var conLength = con.length;
	 if($('#stepAccount').val()!=""){
	 	if(parseInt($('#stepAccount').val())>parseInt($('#account').val())){
			layer.alert('递增金额不能大于借款总金额', {
				zIndex:100000,
				icon: 2
			}, function() {
				layer.closeAll();
				$('#stepAccount').val('')
			});
		}

	 }

	 if($('.photoUpload li').length<3){
			 layer.alert('请上传借款资料', {
			 	zIndex:100000,
				icon: 2
			 }, function() {
				 layer.closeAll();
			 });
		 return false
	 }


	var timetypeVal = $('input[name="timeType"]:checked').val();
	var timeLimitVal = parseFloat($("#timeLimit").val());
	var interestStartDaysVal = parseFloat($("#interestStartDays").val());
	if(timeLimitVal==""){
		layer.alert('请输入借款期限', {
			zIndex:100000,
			icon: 2
				}, function() {
					layer.closeAll();
				});
		 	return false
	}
	if(timetypeVal==1){
		if(interestStartDaysVal>timeLimitVal){
			layer.alert('计息天数不能大于借款期限', {
				zIndex:100000,
				icon: 2
				}, function() {
					layer.closeAll();
				});
		 	return false
		}
	}


	 if(conLength>2000){
	 	layer.alert('借款详情内容必须少于2000个字符', {
	 			zIndex:100000,
				icon: 2
			}, function() {
				layer.closeAll();
			});
	 	return false
	 }

 });

$("#j-reset").click(function(){
	$(".error").html("");
	$(".input-box").children(".error").removeClass("error");
	$(".photoUpload li:not('.addFileBtn')").remove();
})

$("#form").validate({
	rules: {
		stepAccount: {
			stepRule: "#account",
			stepRule1:"#lowestAccount",
			difference:true
		}
	},
	messages:{
		stepAccount: {
			difference: "递增金额需小于等于借款总金额减去最低起投金额的差值"
		}		
	},	
	submitHandler: function(form) {	
	   var mAccount=$("#mostAccount").val();
	   if(!mAccount){
	        $("#mostAccount").val($("#account").val());
	   }
		$(form).ajaxSubmit({
			type: "post",
			dataType: "json",
			success: function(data) {
				if (data.result) {
					layer.alert(data.msg, {
						zIndex:100000,
						icon: 6,
						cancel: function(index){
							layer.closeAll();
							//刷新当前页面
							window.location.href = window.location.href;
							//gridobj.trigger("reloadGrid"); //重新载入   
  						}
					}, function() {
						layer.closeAll();
						//刷新当前页面
						window.location.href = window.location.href;
						//gridobj.trigger("reloadGrid"); //重新载入  
					});
				} else {
					layer.alert(data.msg, {
						zIndex:100000,
						icon: 5
					});
				}
			}
		});
	}
})
//借款方
$("#userName").searchInput({
	url:"/loan/borrow/autoCompleteBorrower.html",
	hiddenInp: "#userId",
	prop: "id"
});

function borrowerSelectFn(id, value){	
	$("#userId").val(id);
	$("#userName").val(value);
}

//年利率
$("#apr").on("keyup", function(){
	if(!$(this).val()) return false;
	var _this = $(this)[0];
	_this.value = $.fn.page.decimalsNumber1(_this.value);
	
})/*.on("blur", function(){
	var _val = $(this).val(),
		val = (_val > 24) ? 24 : (_val < 1) ? 1 : _val;
	val = $.fn.page.charTwoDecimals(val);
	$(this).val(val);
});*/

function hisShow(obj, val){	
	if(val == 0){
		obj.removeClass("show").addClass("hide");
	} else {
		obj.removeClass("hide").addClass("show");
	}
}
//抵押物
$("input[name='isPawn']").on("click", function(){	
	hisShow($("#pawnImgBox"), $(this).val());
});

//担保结构
$("input[name='isVouch']").on("click", function(){	
	hisShow($("#vouchNameBox"), $(this).val());
});

//图片预览
$("#borrowPagePic2 a,#borrowPagePic1 a").fancybox();

//还款方式
$("#repayStyle").on("change", function(){
	var val = $(this).children('option:selected').val()
	if(val == 3 || val == 5){
		hisShow($("#fixRepayDayBox"), true);
	}else{
		$('#fixedRepayDay').val('');
		hisShow($("#fixRepayDayBox"), false);
	}
});
//计息方式
$("input[name=interestStyle]").click(function(){
	 switch($("input[name=interestStyle]:checked").attr("id")){
		  case "interestStyle1":
			    $(".tnContainer").prop("disabled",true)
			    //清空T+N的值
			    $("#interestStartDays option:first").prop("selected", true);
			   break;
		  case "interestStyle2":
			    $(".tnContainer").prop("disabled",false)
			   break;       
	       default:
		      break;
		 }
 });

$("#account,#apr,#stepAccount,#lowestAccount,#stepAccount,#mostAccount,#timeLimit,#borrowManageRate,#interestManageRate,#overdueFeeRate").keyup(function(){
	// 不能输入 类似00、01、0000001的数值
		if ($(this).val().match(/^0+\d+/)) {
			replaceAndSetPos(this,/^0+(\d+)/, '$1');
		}
})
</script>
</body>
</html>