<div class="form-tips-content" id="assignment">
	<form class="form-horizontal" action="/bond/rule/bondRuleAdd.html" id="form" role="form" >
		<div id="rule_status" >
			<div class="title">一、申请转让期限制</div>
			<div class="con">
				<div>
					<input type="checkbox" name="isHoldDays" value="1" <#if !model??>checked</#if><#if model??&&model.isHoldDays == 1>checked</#if>>起息日后必须持有
					<input type="text" name="holdDays" maxlength="4"   value="<#if model??><#if model.holdDays == '0'>5<#else>${model.holdDays!'5'}</#if><#else>5</#if>" 
					onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"  style="width:40px;">天
				</div>
				<div>
					<input type="checkbox" name="isRemainDays" value="1" <#if !model??>checked</#if><#if model??&&model.isRemainDays == 1>checked</#if> >距到期日
					<input type="text" name="remainDays" maxlength="4"  value="<#if model??><#if model.remainDays == '0'>30<#else>${model.remainDays!'30'}</#if><#else>30</#if>"
					onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"  style="width:40px;">天之前
				</div>
				<div>
					<input type="checkbox" name="isPeriodRemainDays" value="1" <#if !model??>checked</#if><#if model??&&model.isPeriodRemainDays == 1>checked</#if>>距本期还款日
					<input type="text" name="periodRemainDays" maxlength="4"  value="<#if model??><#if model.periodRemainDays == '0'>3<#else>${model.periodRemainDays!'3'}</#if><#else>3</#if>"
					onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"  style="width:40px;">天之前
				</div>
			</div>
			<div class="title">二、转让时效</div>
			<div class="con">
				<div>
					<input type="text" name="deadline" maxlength="4"  value="<#if model??>${model.deadline!''}<#else>24</#if>" onkeyup="if(this.value==this.value2);if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;"style="width:40px;">小时内未完成转让即自动撤销转让申请
				</div> 
				<div>
					<input type="checkbox" checked disabled>在转让期间发生借款人提前还款，则自动撤销转让申请
				</div>
			</div>
			
			<div class="title">三、转让金额限制</div>
			<div class="con">
				<div>
					<input type="radio" name="sellStyle" value="1" <#if !model??>checked</#if><#if model??&&model.sellStyle == "1">checked</#if>>一次性全额转让<br/>
					<input type="radio" name="sellStyle" value="0" <#if model??&&model.sellStyle == "0">checked</#if>>部分转让
				</div>
				<div style="display:none;">
					<input type="text" name="sellMultiple"  value="<#if model??><#if model.sellMultiple=='0'>2<#else>${model.sellMultiple!''}</#if></#if>" 
					onkeyup="if(this.value==this.value2);if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;" 
					placeholder="2"  style="width:40px;">
				</div>
				<div>
					<p>1、最低转让金额需大于等于最低受让金额的2倍</p>
					<p>2、剩余未还本金小于最低受让金额的2倍必须全部转让</p>
					<p>3、还款方式为月等额本息、月等额本金则必须一次性全额转让,不受该配置项的限制</p>
				</div>
				
			</div>
			
			<div class="title">四、单笔受让金额限制</div>
			<div class="con">
				<div>
					<input type="radio" class="buyStyle" name="buyStyle" value="1" <#if !model??>checked</#if><#if model??&&model.buyStyle == "1">checked</#if>>一次性全额受让<br/>
					<input type="radio" class="buyStyle"  name="buyStyle" value="0" <#if model??&&model.buyStyle == "0">checked</#if>>部分受让
				</div>
				<div id="buyAmountMinDiv" style="display: none">单笔最低受让金额：
					<input type="text" name="buyAmountMin"  value="<#if model??><#if model.buyAmountMin=='0'>1000<#else>${model.buyAmountMin!''}</#if><#else>1000</#if>" onkeyup="if(this.value==this.value2);if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;"  style="width:100px;">元
				</div>
				<div>
					<p>1、剩余金额小于等于最低受让金额的2倍需一次性受让完毕</p>
					<p>2、还款方式为月等额本息、月等额本金则必须一次性全额受让,不受该配置项的限制</p>
				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
					$(".buyStyle").change(function(){
						var value = $("input:radio[name='buyStyle']:checked").val();
						if(value == 0){
							$("#buyAmountMinDiv").show();
						}else{
							$("#buyAmountMinDiv").hide();
						}
					})
				});
			</script>
			<div class="title">五、折溢价率</div>
			<div class="con">
			<div>折溢价率:
					<input type="text" name="discountRateMin" maxlength="6"  value="<#if model??>${model.discountRateMin!''}<#else>-2</#if>" onkeyup="if(!/^(\-?)(\d*|0)+\.?\d{0,1}$/g.test(this.value))this.value=(this.value2)?this.value2:'';else this.value2=this.value;"  style="width:100px;">%
					——
					<input type="text" name="discountRateMax" maxlength="6"  value="<#if model??>${model.discountRateMax!''}<#else>5</#if>" onkeyup="if(!/^(\-?)(\d*|0)+\.?\d{0,1}$/g.test(this.value))this.value=(this.value2)?this.value2:'';else this.value2=this.value;"  style="width:100px;">%
			</div>
				<div>
					<p>1、折溢价=受让金额*折溢价率;</p>

					<p>2、剩余期限利息=总待收利息-已持有期限的利息;</p>
					<p>3、受让支付金额=受让本金+受让本金已持有天数的利息+折溢价-已持有期限的利息管理费;</p>

					<p>4、已持有期限利息管理费 = 已持有期的利息* 利息管理费</p>
				</div>
			</div>
			
			<div class="title">六、转让手续费</div>
			<div class="con">
				<div>
					每笔债权受让金额大于等于
					<input type="text" name="feeInitiateAmount" maxlength="7" value="<#if model??>${model.feeInitiateAmount!''}<#else>50</#if>" onkeyup="if(this.value==this.value2);if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;"   style="width:40px;">元，
					<input type="radio" name="feeStyle" value="1" <#if !model??>checked</#if><#if model??&&model.feeStyle == '1'>checked</#if>>收取固定金额手续费
					<input type="text" name="feeFixed" maxlength="7" <#if model??&&model.feeStyle == '2'>disabled='true'</#if> value="${model.feeFixed!'2'}" onkeyup="if(this.value==this.value2);if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;"   style="width:40px;">元/笔;
					<input type="radio" name="feeStyle" value="2" <#if model??&&model.feeStyle == '2'>checked</#if>>收取固定比例手续费
					<input type="text" name="feeRate" maxlength="4"  value="${model.feeRate!'0.4'}" <#if model??&&model.feeStyle == '1'>disabled='true'</#if> onkeyup="this.value=this.value.replace(/\D/g,'')"  style="width:40px;">% 手续费;
					单次债权转让收取手续费总额不得大于
					<input type="text" name="feeSingleMax" maxlength="7" value="<#if model??>${model.feeSingleMax!'100'}<#else>100</#if>" onkeyup="if(this.value==this.value2);if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;"  style="width:50px;">元;
				</div>
				<div class="notice">注意：
					<p>1、当债权已有逾期则不允许转让</p>
					<p>2、未全部受让成功前允许手动撤销转让</p>
					<p>3、撤销时已受让成功部分保持受让状态</p>
					<p>4、转让后的年化利率为原始债权利率,到期预收本息=债权本金+债权总利息</p>
				</div>
			</div>
		</div>
		<@token name="addBondRuleToken"/>		
	</form>
	<script>
		$("input[name='feeStyle']").on('click',function () {
			if($(this).val()==1){
			    $("input[name='feeFixed']").removeAttr("disabled")
                $("input[name='feeRate']").attr("disabled","true")
			}else{
                $("input[name='feeFixed']").attr("disabled","true")
                $("input[name='feeRate']").removeAttr("disabled")
			}
        })
	$("#form").validate({
		submitHandler: function(form) {	
			$(form).ajaxSubmit({
				type: "post",
				dataType: "json",
				success: function(data) {
					if (data.result) {
						layer.alert(data.msg, {
							icon: 6,
							cancel: function(index){
							layer.closeAll();
							gridobj.trigger("reloadGrid"); //重新载入 
  						}
						}, function() {
							layer.closeAll();
							gridobj.trigger("reloadGrid"); //重新载入  
						});
					} else {
						layer.alert(data.msg, {
							icon: 5
						});
					}
				}
			});
		}
	})
	</script>
</div>
	