<div class="form-tips-content">
  <form class="form-horizontal" action="/sys/operator/operatorEdit.html" id="form" role="form">
  	<ul class="form-item">
  		<li class="full-width">
			<div class="form-group">
		      <label for="loginName" class="control-label form-label">用户角色：</label>
		      <div class="input-box input-checkbox-box">
		      	<#if roleList??>
					 <#list roleList as item>
						<input type="checkbox" name="roleIds" value="${item.uuid!}" id="roleId_${item.uuid!}"
							<#if operatorRoleList??>  
								<#list operatorRoleList as urItem> 
								  <#if urItem.roleId! == item.uuid! > checked="checked" </#if> 
								</#list>
							</#if>						
						 />
						<label for="roleId_${item.uuid!}">${item.roleName!}</label>
					</#list>
			   </#if>		      
		      </div>
		    </div>	
  		</li>  	
  		<li>
			<div class="form-group">
		      <label for="realName" class="control-label form-label">姓名：</label>
		      <div class="input-box">
		      <input type="text" class="form-control" name="realName" id="realName" value="${user.realName}" maxlength="50" placeholder="请输入姓" required minlength="2">
		      </div>
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		      <label for="empNo" class="control-label form-label">工号：</label>
		      <div class="input-box">
		      <input type="text" class="form-control" name="empNo" id="empNo" value="${user.empNo}" placeholder="请输入工号" maxlength="20" minlength="2" required>
		      </div>
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		      <label for="username" class="control-label form-label">组织机构：</label>
		      <div class="input-box">
		      <input type="text" class="form-control" readonly="readonly" onclick="$.fn.treeGridOptions.treeselect(this)" data-url="/sys/org/orgTreePage.html?orgIdField=orgId&orgNameField=orgName" name="orgName" id="orgName" value="${user.orgName}" placeholder="请选择组织机构" required/>
		      <input type="hidden" name="orgId" id="orgId" value="${user.orgId}" required/>
		      </div>
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		      <label for="telephone" class="control-label form-label">电话：</label>
		      <div class="input-box">
		      <input type="text" class="form-control" name="telephone" id="telephone" value="${user.telephone}"  placeholder="请输手机号码">
		      </div>
		    </div>	
  		</li>
   		<li>
			<div class="form-group">
		      <label for="mobile" class="control-label form-label">手机：</label>
		      <div class="input-box">
		      <input type="text" class="form-control" name="mobile" id="mobile"  value="${user.mobile}" maxlength="11" placeholder="请输手机号码" required minlength="11" >
		      </div>
		    </div>	
  		</li>
  		<li>
			<div class="form-group">
		      <label for="qq" class="control-label form-label">QQ：</label>
		      <div class="input-box">
		      <input type="text" class="form-control" name="qq" id="qq" value="${user.qq}" placeholder="请输QQ号码">
		      </div>
		    </div>	
  		</li>
   		<li>
			<div class="form-group">
		      <label for="email" class="control-label form-label">邮箱：</label>
		      <div class="input-box">
		      <input type="text" class="form-control" name="email" id="email" value="${user.email}" maxlength="200" placeholder="请输邮箱" required>
		      </div>
		    </div>	
  		</li>	
  		<li>
			<div class="form-group">
		      <label for="remark" class="control-label form-label">备注：</label>
		      <div class="input-box">
		      <textarea rows="" cols="" class="form-control" name="remark" maxlength="200" id="remark">${user.remark}</textarea>
		      </div>
		    </div>	
  		</li>
  	</ul>
  	<@token/>
  	<input name="uuid" value="${user.uuid}" type="hidden"/>
  </form>
</div>
<script>
$("#form").validate({
	ignore: ".ignore",
	submitHandler:function(form){ 
		$(form).ajaxSubmit({
			type:"post",
			dataType:"json",
			success:function(data){
    	if(data.result){
    		layer.alert(data.msg, {
    			icon: 6,
    			cancel: function(index){
					layer.closeAll();
					gridobj.trigger("reloadGrid"); //重新载入 
					}
    		}, function(){
    			layer.closeAll();
					gridobj.trigger("reloadGrid"); //重新载入  
    		});
    	}
    	else
    	{
    		layer.alert(data.msg, {icon: 5});
    	} 			        	
	    }
		});
	}    
});
</script>