<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>页面没有找到</title>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <link rel="stylesheet" type="text/css" href="/404.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
<body>
<div>
    <div class="centerContent">
        <h2></h2>
        <div class="bottom">
            <div class="title">
                可能原因：
            </div>
            <div class="link">
                <ul>
                    <li><em></em>网络信号弱</li>
                    <li><em></em>找不到请求页面</li>
                    <li><em></em>输入的网址不正确</li>
                    <li class="bottomLi">你可以 <a href="/">返回首页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/common.js"></script>
<script src="/404.js"></script>
</html>