<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>订单确认</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-22faacfd60.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/investOrder-2b21e44f7b.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body>
    <#include "/include/header.html">
    <input type="hidden" value="${amount!0.00}" id="amountInput"/>
    <input type="hidden" id="projectId" name="projectId" value="${project.uuid!}"/>
    <input type="hidden" value="${investTimeout!}" id="investTimeout"/>
    <input type="hidden" value="${redEnvelopeRateMax!}" id="redEnvelopeRateMax" />
    <input type="hidden" value="${useMoney!}" id="useMoney" />
    <input type="hidden" value="${project.addApr!}" id="projectAddApr" />
    <input type="hidden" value="${project.realizeFlag!}" id="projectRealizeFlag" />
    <input type="hidden" id="account" name="account" value="${project.account!}"/>
    <input type="hidden" id="accountYes" name="accountYes" value="${project.accountYes!}"/>
    <input type="hidden" id="lowestAccount" name="lowestAccount" value="${project.lowestAccount!}"/>
    <input type="hidden" id="mostAccount" name="mostAccount" value="${project.mostAccount!}"/>
    <input type="hidden" id="redEnvelopeUseful" name="redEnvelopeUseful" value="${project.redEnvelopeUseful!}"/>
    <input type="hidden" id="additionalRateUseful" name="additionalRateUseful" value="${project.additionalRateUseful!}"/>
    <div class="wrap invest-order-main">
        <div class="invest-order-title">投资信息</div>
        <div class="invest-order-info" id="j-invest-order">            
            <dl class="order-item product">
                <dt>产品选择</dt>
                <dd>
                    <table>
                        <tr>
                            <th width="33.33%">产品名称</th>
                            <th width="33.33%">预期年化收益率</th>
                            <th width="33.33%">产品期限</th>
                        </tr>
                        <tr>                            
                            <td>${project.projectName!}</td>
                            <td>${project.apr!}</td>
                            <td>${project.timeLimit!}<#if product.timeType==1>天<#else>个月</#if></td>
                        </tr>
                    </table>
                </dd>
            </dl>
            <div id="j-investOrder">
                <div class="loading"></div>    
            </div>                                
        </div>
    </div>
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-81aa8d07d8.js"></script>
<script src="/themes/js/investOrder-fcd68b3440.js"></script>
</html>