<!DOCTYPE html>
<#assign pageFlag="invest">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>充值</title>
    <link rel="stylesheet" type="text/css" href="/themes/css/common-22faacfd60.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/investRecharge-c08a79fcfa.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body>
    <#include "/include/header.html">
    <input type="hidden" id="money" name="money" value="${money}">
    <div class="wrap investRecharge-index-main" id="j-recharge">
        
    </div>
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/common-81aa8d07d8.js"></script>
<script src="/themes/js/investRecharge-6647195944.js"></script>
</html>