<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>协议列表</title>
		<#include "include/resources.html">
	</head>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="请输入协议名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/protocol/protocolLog/logList.html">搜索</button>
							    </span>		    
						    </div>
					    </form>	
					</div>					
					<div class="search-form-adv ml10">
						<form>
							<div class="btn-group" onclick="$.fn.page.dropdownSelectHoverFun(this)">
							  <button type="button" class="btn btn-info dropdown-select-toggle" data-toggle="#" aria-haspopup="true" aria-expanded="false"> 条件查询 <span class="caret"></span></button>							  
							  <ul class="dropdown-menu search-menu">
							    <li class="input-group input-group-sm"><span>协议名称</span><input type="text" class="form-control" name="protocolName" /></li>
							    <li class="input-group input-group-sm"><span>类型名称</span><@linkage name="protocolType" nid="protocolType"  noselect="全部" class="form-control"/></li>
							     <!--<li class="input-group input-group-sm"><span>状态</span> <@linkage name="status" protocolType="accountStatus" noselect="不限" class="form-control"/>  </li>-->
							     </li>
							    <li><button class="btn btn-sm btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/protocol/protocolLog/logList.html">查询</button></li>
							  </ul>							  
							</div>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">			
				</div>
			</div>
			<div class="row mt20">
				<div class="col-md-12">
					<table id="jqGrid"></table>
					<div id="jqGridPager"></div>
				</div>
			</div>
			<script type="text/javascript">
			<@dictFormatter type = "protocolType" />
					$(document).ready(function() {												
						//表格初始化
						$("#jqGrid").jqTreeGrid({
							url: '/protocol/protocolLog/logList.html',	
							  multiselect : false,	
							  colModel: [
			                    { label: 'id', name: 'id', width: 65, hidden:true},
			                    { label: '协议类型', name: 'protocolType',index:"protocolType",width: 25,hidden:true},
			                    { label: '协议名称', name: 'protocolName',index:"protocolName",width: 40},
			                    { label: '类型名称', name: 'protocolType',index:"protocolType",width: 20,formatter:protocolTypeFormatter},
			                    { label: '添加时间', name: 'createTime',index:"create_time",width: 25,formatter:datetimeFormatter},
								{ label: '备注', name: 'remark',index:"status", width: 40},
								{ label: '操作', name: '',sortable:false,width: 20,formatter:function(val, options, rowObject){	
								   var btns = '';
								   var id = rowObject.id;	
										btns += '&nbsp;<a href="/protocol/protocolLog/downloadProtocol.html?uuid=' + id +'" >下载</a>';	
								   return btns;
								}}
			                ]
						}) ;			
					});
			</script>
		</div>
	</body>
</html>