<div class="row mt20">
	<div class="col-md-12">
		<table id="jqGrid" class="table-td-NoOverflow"></table>
		<div id="jqGridPager"></div>
	</div>
</div>
<script type="text/javascript">
<@dictFormatter type = "bondInvestStatus" />
	$(document).ready(function() {		
		var url_key = url_list.substring(url_list.lastIndexOf('/')+1,url_list.indexOf('.'));
		//表格初始化		
		$("#jqGrid").jqTreeGrid({
				url : url_list,
				colModel : [
						{
							label : "受让人",
							name : "userName",
							width : 150,
							align: "center",
						},   
						{
							label : "状态",
							name : "status",
							width : 150,
							align: "center",
							formatter:bondInvestStatusFormatter
						},
						{
							label : "投资金额",
							name : "amount",
							width : 150,
							align: "center",
						},   
						{
							label : "债权名称",
							name : "bondName",
							width : 150,
							align: "center",
						},   
						{
							label : "原始标名称 ",
							name : "projectName",
							width : 150,
							align: "center",
						},   
						{
							label : "折溢价率 ",
							name : "bondApr",
							width : 150,
							align: "center",
							formatter : function(val, options,rowObject) {
									return val+"%";
							},
						}, 
						{
							label : "实际支付金额 ",
							name : "receivedAccount",
							width : 150,
							align: "center",
						},
						{
							label : "投资时间 ",
							name : "createTime",
							width : 150,
							align: "center",
							formatter: datetimeFormatter
						}
						],
			}).jqGrid("setFrozenColumns").navGrid(
			'#jqGridPager',
			{
				edit : false,
				add : false,
				del : false,
				search : false,
				refresh : true,
				view : false,
				position : "left",
				cloneToTop : false
			});
		});
</script>