<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>转让记录</title>
		<#include "include/resources.html">
		<script type="text/javascript">
			var url_list = "/bond/bond/bondInvestList.html";
			$(document).ready(function() {	
				$('#keywordsSearch').attr('data-url',url_list);
				$('#conditionSearch').attr('data-url',url_list);				
			});
		</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="请输入受让人用户名">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" id="keywordsSearch">搜索</button>
							    </span>		    
						    </div>
					    </form>
					</div>					
					<div class="search-form-adv ml10">
						<form>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tool-btns">
					</div>					
				</div>
				<div class="col-md-6">
					<div class="tool-btns">
					</div>					
				</div>
			</div>
			
			<!-- 列表信息 -->
			<#include "/bond/bond/bondInvestList.html">
			
		</div>
	</body>
</html>