<style type="text/css">
	.ui-jqgrid .ui-jqgrid-hdiv{
			position: relative;
		}
		.ui-jqgrid .ui-jqgrid-bdiv{
			margin-top: 0!important;
		}
      @media (max-height: 768px){
        .ui-jqgrid .ui-jqgrid-bdiv {
            margin-top: 39px;
            padding-bottom: 0px;
            max-height: 100px!important;
            overflow-y: auto;
            overflow-x: hidden;
        }
      }
      .ui-jqgrid .ui-jqgrid-pager {
          position: relative;
          bottom: 0px;
          background: #fff;
          border: 1px solid #EBEBEB;
          border-radius: 3px;
          z-index: 1000;
      } 
      @media (max-height: 1080px){
        .ui-jqgrid .ui-jqgrid-bdiv {
            margin-top: 39px;
            padding-bottom: 0px;
            max-height: 460px!important;
            overflow-y: auto;
            overflow-x: hidden;
        }
      }	
</style>
<div class="wrapper">
	<div class="row mt20">
		<div class="col-md-12">
			<table id="jqGrid"></table>
			<input type="hidden" value="${bondId}" id="bondId"/>
			<div id="jqGridPager"></div>
		</div>
	</div>
	<script type="text/javascript">
	  <@dictFormatter type = "bondInvestStatus"  />
		$(document).ready(function() {		
			//表格初始化
			$("#jqGrid").jqTreeGrid({
				multiselect: false,
				url: '/bond/bond/bondInvestListData.html?bondId='+$("#bondId").val(),
				width: 600,
				height: $(window).height()*0.8*0.52,							
				colModel: [ 
				{ label: "受让人", name: "userName", width: 50, align: "center"},
				{ label: "受让金额", name: "amount", width: 50, align: "center",formatter : function(val, options,rowObject) {
									return val+"元";
							},},
				{ label: "受让时间", name: "createTime", width: 50, formatter : datetimeFormatter, align: "center"}
				],
			}).jqGrid("setFrozenColumns").navGrid('#jqGridPager',
				{
					edit: false,
					add: false,
					del: false,
					search: false,
					refresh: true,
					view: false,
					position: "left",
					cloneToTop: false
				}
			);						
		});
	$(window).bind('resize', function() {				
		$("#jqGrid").setGridHeight($(window).height()*0.8*0.52);
	});
	</script>
</div>