<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>变现记录</title>
		<#include "include/resources.html">
		<script type="text/javascript">
			var url_list = "/realize/manage/list.html";
			$(document).ready(function() {	
				$('#keywordsSearch').attr('data-url',url_list);
				$('#conditionSearch').attr('data-url',url_list);				
			});
		</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="projectName" id="projectName" placeholder="请输入借款名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" id="keywordsSearch">搜索</button>
							    </span>		    
						    </div>
					    </form>	
					</div>					
					<div class="search-form-adv ml10">
						<form>
							<div class="btn-group" onclick="$.fn.page.dropdownSelectHoverFun(this)">
							  <button type="button" class="btn btn-info dropdown-select-toggle" data-toggle="#" aria-haspopup="true" aria-expanded="false"> 条件查询 <span class="caret"></span></button>							  
							  <ul class="dropdown-menu search-menu">
							    <li class="input-group input-group-sm"><span>借款状态</span><select name="status" class="form-control">
							    		<option value="">全部</option>
							    		<option value="4">借款中</option>
							    		<option value="8">待还款</option>
							    		<option value="9">已还款</option>
							    		<option value="89">逾期中</option>
							    		<option value="91">逾期已还款</option>
							    		<option value="7">撤回</option>
							    	</select></li>
							    <li><button class="btn btn-sm btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" id="conditionSearch">查询</button></li>
							  </ul>							  
							</div>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tool-btns">
						<!-- 
						<button type="button" class="btn btn-primary" onclick="$.fn.treeGridOptions.checkFun(this)" data-tid="jqGrid" data-url="/loan/borrow/borrowView.html" data-title="查看">查看</button>				
						 -->
					</div>					
				</div>
			</div>
			
			<!-- 列表信息 -->
		<div class="row mt20">
			<div class="col-md-12">
				<table id="jqGrid" class="table-td-NoOverflow"></table>
				<div id="jqGridPager"></div>
			</div>
		</div>
		<script type="text/javascript">
		<@dictFormatter type = "realizeStatus" />
			var webUrl = "${webUrl}";
			$(document).ready(
				function() {
				var url_key = url_list.substring(url_list.lastIndexOf('/') + 1, url_list.indexOf('.'));
				//表格初始化		
				$("#jqGrid").jqTreeGrid({
					url : url_list,
					multiselect:false,
					colModel : [ 
					             { label : "借款名称",name : "projectName",width : 180, align: "center" },
					             { label : "用户",name : "userName",width : 100, align: "center" },
					             { label : "变现金额(元)",name : "account",width : 80, align: "center" },
					             { label : "变现利率(%)",name : "apr",width : 80 , align: "center"},
					             { label : "变现期限(天)",name : "timeLimit",width : 100 , align: "center"},
					             { label : "抵押产品", name : "",width : 150 , align: "center",
					            	 formatter: function(val, options, rowObject){	
											var btns = '';
											var	id = rowObject.oldProjectId;
											if(id!=rowObject.originalProjectId){
												btns += '<a target="_blank" href="'+webUrl+'/realize/detail.html?id='+rowObject.oldProjectId+'"  data-title="抵押产品" data-tid="jqGrid">'+rowObject.oldProjectName+'</a>';
											}else{
												btns += '<a target="_blank" href="'+webUrl+'/invest/detail.html?id='+rowObject.oldProjectId+'"  data-title="抵押产品" data-tid="jqGrid">'+rowObject.oldProjectName+'</a>';
											}
											return btns;
										}
					             },
								 { label : "状态",name : "status",hidden : (url_key != 'list'),width : 100, align: "center",formatter : realizeStatusFormatter },
					             { label : "添加时间",name : "createTime",width : 100, align: "center", formatter : datetimeFormatter},
					             { label:  "操作", name: "cz", width: 100, align: "center",
									formatter: function(val, options, rowObject){	
										var btns = '';
										var	id = rowObject.id;
										btns += '<a href="javascript:;" onclick=$.fn.treeGridOptions.checkFun(this,"'+id+'") data-tid="jqGrid" data-url="/realize/manage/realizeTenderPage.html"  data-title="记录">记录</a>';
										return btns;
									}
					             }
					           ]
						}) ;			
					});
		</script>

	</div>
	</body>
</html>