<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>已受让列表</title>
</head>
<body>
	<table>
		<tr>
			<td>债权名称</td>
			<td>债权本金</td>
			<td>折溢价率</td>
			<td>支付金额</td>
			<td>待收本息</td>
			<td>受让成功时间</td>
			<td>操作</td>
		</tr>
		<#if list??>
			<#list list as item>
				<tr>
					<td>${item.projectName}</td>
					<td>${item.amount}</td>
					<td>${item.bondApr}%</td>
					<td>${item.paidMoney}</td>
					<td>${item.waitMoney}</td>
					<td>${item.createTime}</td>
					<td><a href="">再次转让</a></td>
				</tr>
			</#list>
		</#if>
	</table>
	
</body>
</html>