<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>平台账户列表</title>
		<#include "include/resources.html">
	</head>
	<style>
		.layui-layer-loading .layui-layer-loading3{width:200px!important;padding-left: 66px;color: #fff;line-height: 24px;}
	</style>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="请输入操作员名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/account/merchant/merchantLogList.html">搜索</button>
							    </span>		    
						    </div>
					    </form>	
					</div>					
					<div class="search-form-adv ml10">
						<form id="advSearchForm">
							<div class="btn-group" onclick="$.fn.page.dropdownSelectHoverFun(this)">
							  <button type="button" class="btn btn-info dropdown-select-toggle" data-toggle="#" aria-haspopup="true" aria-expanded="false"> 条件查询 <span class="caret"></span></button>							  
							  <ul class="dropdown-menu search-menu">
							    <li class="input-group input-group-sm"><span>操作员</span><input operateType="text" class="form-control" name="loginName" /></li>
							    <li class="input-group input-group-sm"><span>流水号</span><input operateType="text" class="form-control" name="orderNo" /></li>
							    <li class="input-group input-group-sm"><span>转出账户</span><input operateType="text" class="form-control" name="account" /></li>
							    <li class="input-group input-group-sm"><span>转入账户</span><input operateType="text" class="form-control" name="toAccount" /></li>
							    <li class="input-group input-group-sm"><span>操作类型</span> <@linkage name="operateType" nid="platAccountType" noselect="不限" class="form-control"/>  </li>
							    <li class="input-group input-group-sm"><span>状态</span> <@linkage name="status" nid="platAccountStatus" noselect="不限" class="form-control"/>  </li>
							    <li class="input-group input-group-sm"><span>操作时间</span> <input type="text" name="startTime" id="startTime" class="form-control"placeholder="开始时间"/> <input type="text" name="endTime" id="endTime"   class="form-control" placeholder="结束时间"/>  
							    <li><button id="conditionSearch" class="btn btn-sm btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/account/merchant/merchantLogList.html">查询</button></li>
							  </ul>							  
							</div>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
							 <@shiro.hasPermission name="account:platAccount:export">
							 <a href="javascript:" target="_blank" class="btn btn-info" onclick="exportExcel(this)" data-title='平台账户' data-url="/account/merchant/exportExcel.html" data-tid="jqGrid">导出</a>
							 </@shiro.hasPermission>
						</form>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="tool-btns">
					    <@shiro.hasPermission name="account:platAccount:query">
						<button type="button" class="btn btn-info" data-title="平台余额查询" onclick="$.fn.treeGridOptions.ListShow(this)" data-url="/account/merchant/merchantBalanceePage.html" data-width="50%" data-height="45%">平台余额查询</button>
					    </@shiro.hasPermission>
					    <@shiro.hasPermission name="account:platAccount:recharge">
						<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.SaddFun(this)" data-tid="jqGrid" data-url="/account/merchant/merchantRechargePage.html" data-w="50%" data-h="45%" data-title="平台充值">平台充值</button>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="account:platAccount:cash">
						<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.SaddFun(this)" data-tid="jqGrid" data-url="/account/merchant/merchantCashPage.html" data-w="50%" data-h="45%" data-title="平台提现">平台提现</button>
						</@shiro.hasPermission>
						<#if tppName != 'cbhb'>
							<@shiro.hasPermission name="account:platAccount:transfer">
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.addFun(this)" data-url="/account/merchant/merchantTransferPage.html">账户转账</button>
							</@shiro.hasPermission>
							<@shiro.hasPermission name="account:platAccount:assign">
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.addFun(this)" data-url="/account/merchant/subMerchantTransferPage.html">账户互转</button>		
							</@shiro.hasPermission>
						</#if>
					</div>					
				</div>
			</div>
			<div class="row mt20">
				<div class="col-md-12">
					<table id="jqGrid"></table>
					<div id="jqGridPager"></div>
				</div>
			</div>
			<script operateType="text/javascript">
			
			var startTime= {
				elem:'#startTime',
				format: 'YYYY-MM-DD', //日期格式
				istime: false, //是否开启时间选择
				max:$('#endTime').val(),
				event:'focus',
				choose: function(dates){
				    endTime.min=dates;
				    endTime.start=dates;
				}
			};
			
			//设置发放结束时间
			var endTime=  {
					elem:'#endTime',
					format: 'YYYY-MM-DD', //日期格式
					istime: false, //是否开启时间选择
					min: $('#startTime').val(), //最小日期
					event:'focus',
					choose: function(dates){
						startTime.max=dates;
				   }
			};
			laydate(startTime);
			laydate(endTime);
			
			<@dictFormatter type = "platAccountType" />
			<@dictFormatter type = "platAccountStatus" />
					$(document).ready(function() {												
						//表格初始化
						$("#jqGrid").jqTreeGrid({
							url: '/account/merchant/merchantLogList.html',	
							  multiselect : false,	
							  colModel: [
			                    { name: 'uuid', label: '编号', width: 50,hidden:true},
								{ name: 'orderNo', label: '流水号', width: 100},
								{ name: 'loginName', label: '操作员', width: 60},
								{ name: 'moneyStr', label: '操作金额', width: 80},
								{ name: 'fee', label: '手续费', width: 80 },
								{ name: 'account', label: '转出账户 ', width: 80 },
								{ name: 'toAccount', label: '转入账户', width: 80 },
								{ name: 'status', label: '状态 ', width: 120 ,formatter:platAccountStatusFormatter},
								{ name: 'operateType', label: '操作类型', width: 80 ,formatter:platAccountTypeFormatter},
								{ name: 'remark', label: '备注', width: 80 },
								{ name: 'createTime', label: '操作时间  ', width: 120 ,formatter: datetimeFormatter},
								{ name: 'addIp', label: '操作IP', width: 80 }
			                ]
						}) ;			
					});
			</script>
		</div>
	</body>
</html>