<div class="wrap-full footer">
    <div class="wrap footer-wrap">
        <div class="site-row">
            <div class="site-col-11 footer-left">
                <span class="footer-logo"></span>
                <p class="footer-link"><a href="/column/sectionDetail.html?sectionCode=platformInfo">关于我们</a><a href="/column/helpCenter.html?sectionCode=register">新手指引</a><a href="/column/helpCenter.html?sectionCode=chargeFee">资费说明</a><a href="/column/helpCenter.html?sectionCode=help">常见问题</a><a href="/column/helpCenter.html?sectionCode=lawInfo">法律声明</a><a href="/column/sectionDetail.html?sectionCode=contactUs">联系我们</a></p>
            </div>
            <div class="site-col-7 site-col-offset-6 site-col-last footer-right">
                <div class="icons-media"><span class="iconfont">&#xe609;</span><span class="iconfont">&#xe605;</span><span class="iconfont">&#xe606;</span></div>
                <p>客服热线（9:00-21:00）<i>${customer_hotline!}</i></p>
            </div>
        </div>
        <div class="footer-copyright">
            Copyright@2015　杭州融都科技股份有限公司　版权所有ICP: 浙ICP备12xxxxx号-2
        </div>
    </div>        
</div>