<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rd.ifaes.core.sys.mapper.LetterMapper">
	<resultMap type="com.rd.ifaes.core.sys.domain.Letter" id="letterResultMap">
		<result property="uuid" column="UUID"/>
		<result property="sendUser" column="SEND_USER"/>
		<result property="receiveUser" column="RECEIVE_USER"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="readFlag" column="READ_FLAG"/>
		<result property="deleteFlag" column="DELETE_FLAG"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="remark" column="REMARK"/>
	</resultMap>
	
	<sql id="table_columns">
		UUID,
		SEND_USER,
		RECEIVE_USER,
		TITLE,
		CONTENT,
		STATUS,
		READ_FLAG,
		DELETE_FLAG,
		CREATE_TIME,
		REMARK
    </sql>
	<sql id="entity_properties">
		#{uuid},
		#{sendUser},
		#{receiveUser},
		#{title},
		#{content},
		#{status},
		#{readFlag},
		#{deleteFlag},
		#{createTime},
		#{remark}
	</sql>

    <!-- 使用like用法：columnName like '%'||#{columnName}||'%' -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="uuid != null and uuid != ''">and UUID = #{uuid}</if>
            <if test="sendUser != null and sendUser != ''">and SEND_USER = #{sendUser}</if>
            <if test="receiveUser != null and receiveUser != ''">and RECEIVE_USER = #{receiveUser}</if>
            <if test="title != null and title != ''">and TITLE = #{title}</if>
            <if test="content != null and content != ''">and CONTENT = #{content}</if>
            <if test="status != null and status != ''">and STATUS = #{status}</if>
            <if test="readFlag != null and readFlag != ''">and READ_FLAG = #{readFlag}</if>
            <if test="deleteFlag != null and deleteFlag != ''">and DELETE_FLAG = #{deleteFlag}</if>
			<if test="createTime != null">and CREATE_TIME = #{createTime}</if>
            <if test="remark != null and remark != ''">and REMARK = #{remark}</if>
        </trim>
        <if test="page != null and page.sort!=null and page.sort!=''">
        	order by ${page.sort} ${page.order}
        </if>
        <!-- <if test="page == null or page.sort == null or page.sort == ''">order by sort </if> --> 
    </sql>

	<insert id="insert" parameterType="com.rd.ifaes.core.sys.domain.Letter">
		insert into sys_letter( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">
		BEGIN		
		<foreach collection="list" item="item" index="index" separator=";">  
		insert into sys_letter( <include refid="table_columns" /> ) 
		values 
		( 
		#{item.uuid},
				#{item.sendUser},
				#{item.receiveUser},
				#{item.title},
				#{item.content},
				#{item.status},
				#{item.readFlag},
				#{item.deleteFlag},
				#{item.createTime},
				#{item.remark}
		)
		</foreach>
		; END ;
	</insert>

	<delete id="delete" parameterType="String">
		delete from sys_letter
		where uuid = #{uuid}
	</delete>
	
	<update id="deleteBatch">
		update sys_letter set delete_flag = 1
		where uuid in
		<foreach collection="array" item="id" open="(" separator="," close=")">  
            #{id} 
        </foreach>		
	</update>

	<update id="deleteLogic" parameterType="String">
		update sys_letter set delete_flag = 1 
		where uuid = #{uuid}
	</update>

	<update id="update" parameterType="com.rd.ifaes.core.sys.domain.Letter">
		update sys_letter 
		<trim prefix="set" suffixOverrides=",">
            <if test="sendUser != null and sendUser != ''">SEND_USER = #{sendUser},</if>
            <if test="receiveUser != null and receiveUser != ''">RECEIVE_USER = #{receiveUser},</if>
            <if test="title != null and title != ''">TITLE = #{title},</if>
            <if test="content != null and content != ''">CONTENT = #{content},</if>
            <if test="status != null and status != ''">STATUS = #{status},</if>
            <if test="readFlag != null and readFlag != ''">READ_FLAG = #{readFlag},</if>
            <if test="deleteFlag != null and deleteFlag != ''">DELETE_FLAG = #{deleteFlag},</if>
			<if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="remark != null and remark != ''">REMARK = #{remark},</if>
		</trim>
		<where>uuid = #{uuid}</where>
	</update>

    <select id="findAll" resultMap="letterResultMap">
        select <include refid="table_columns" />
        from sys_letter
    </select>

    <select id="findList" resultMap="letterResultMap">
        select <include refid="table_columns" />
        from sys_letter
        <include refid="page_where" />
	</select>

    <select id="getCount" resultType="int" >
        select count(uuid) from sys_letter
        <include refid="page_where" />
    </select>


    <select id="get" resultMap="letterResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_letter
		where uuid = #{id}
	</select>
	
	<!-- 其他自定义SQL -->
	<update id="setBatch">
		update sys_letter 
		<trim prefix="set" suffixOverrides=",">           
            <if test="status != null and status != ''">STATUS = #{status},</if>
            <if test="readFlag != null and readFlag != ''">READ_FLAG = #{readFlag},</if>
            <if test="deleteFlag != null and deleteFlag != ''">DELETE_FLAG = #{deleteFlag},</if>
		</trim>
		where UUID in 
		<foreach collection="ids" item="id" open="(" separator="," close=")">  
            #{id} 
        </foreach>
        <if test="sendUser != null and sendUser != ''"> and SEND_USER = #{sendUser}</if>
        <if test="receiveUser != null and receiveUser != ''"> and RECEIVE_USER = #{receiveUser}</if>
	</update>
	
	
	<select id="findLetter" resultMap="letterResultMap">
        select uuid,receive_user,title,content,read_flag,delete_flag,create_time,remark
        from sys_letter
         <trim prefix="where" prefixOverrides="and | or ">
			and delete_flag = 0
            <if test="uuid != null and uuid != ''">and UUID = #{uuid}</if>
            <if test="sendUser != null and sendUser != ''">and SEND_USER = #{sendUser}</if>
            <if test="receiveUser != null and receiveUser != ''">and RECEIVE_USER = #{receiveUser}</if>
            <if test="readFlag != null and readFlag != ''">and READ_FLAG = #{readFlag}</if>
        </trim>
        <if test="page != null and page.sort!=null and page.sort!=''">
        	order by ${page.sort} ${page.order}
        </if>
        <if test="page == null or page.sort == null or page.sort == ''">order by create_time desc </if>
	</select>

</mapper>