<!DOCTYPE html>
<#assign pageFlag="invest">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>充值</title>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <link rel="stylesheet" type="text/css" href="/doRecharge.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
</head>
<body>
    <#include "/include/header.html">
    <div class="wrap doRecharge-index-main" id="j-doRecharge">
        
    </div>
    <#include "/include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/common.js"></script>
<script src="/doRecharge.js"></script>
</html>