<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>账户余额分析</title>
<#include "include/resources.html">
</head>
<body class="overflowY">
<div class="wrapper">
  <div class="row pt20">
    <div class="col-md-12">
     <form class="form-horizontal">
        <div id="legend">
          <legend>账户余额分析</legend>
        </div>
        <div class="control-group">
          <label class="control-label">日期：</label>
          <div class="controls">
             <label class="checkbox inline selectTime"><input type="text" name="startDate" id="startTime" class="form-control"placeholder="开始日期" value="${startDate}" readonly="readonly" style="background:#fff;"/></label><label class="checkbox inline selectTime"><input type="text" name="endDate" id="endTime" class="form-control" placeholder="结束日期" value="${endDate}" readonly="readonly" style="background:#fff;"/></label>
          </div>
          <button type="submit" name="button" class="btn btn-primary" style="margin:11px 0 0 20px;">搜索</button>
        </div>        
        <!-- <div class="" style="margin-left:116px;">
          <button type="submit" name="button" class="btn btn-primary">搜索</button>
        </div> -->
    </form>
    </div>
    </div>
    <div class="lineStyle col-md-12"></div>
    <div class="row">
    <div class="col-md-12">
        <div id="j-main" class="chart-map mt20 ml30" style="width:80%;margin:50px auto 0;"></div>
    </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    //设置开始时间控件
  var startTime= {
    elem:'#startTime',
    format: 'YYYY-MM-DD', //日期格式
    max:$('#endTime').val(),
    event:'focus',
    choose: function(dates){
        endTime.min=dates;
        endTime.start=dates;
    }
  };
  //设置发放结束时间
  var endTime=  {
      elem:'#endTime',
      format: 'YYYY-MM-DD', //日期格式
      min: $('#startTime').val(), //最小日期
      event:'focus',
      choose: function(dates){
        startTime.max=dates;
       }
  };
  laydate(startTime);
  laydate(endTime);
  var myChart = echarts.init(document.getElementById('j-main'));
  var option = {
      title: {
          text: '用户可用余额统计',
          left: 'center'
      },
      grid:{
        left:'20%'
      },    
      tooltip: {
          trigger: 'axis'
      },
      legend: {
          data:['可用余额','环比值'],
          top:'50px'
      },
      grid:{
          top:'25%'
      },
      xAxis: [
          {
              type: 'category',
              data: []
          }
      ],
      yAxis: [
          {
              type: 'value',
              name: '金额',
              axisLabel: {
                  formatter: '{value} '
              }
          },
          {
              type: 'value',
              name: '百分比',
              axisLabel: {
                  formatter: '{value} %'
              }
          }
      ],
      dataZoom: [
       {   // 这个dataZoom组件，默认控制x轴。
           type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
           startValue :0
       },

   ],
      series: [
          {
              name:'可用余额',
              type:'bar',
              data:[],
              itemStyle:{
                normal:{
                  color:'#76b7f9'
                }
              }
          },{
              name:'环比值',
              type:'line',
              yAxisIndex: 1,
              data:[],
              itemStyle:{
                normal:{
                  color:'#ef826f'
                }
              }
          }
      ]
  };
  chartAjax($(".form-horizontal").serialize());

  function chartAjax(req){
      $.ajax({
          url:'/statistic/account/statisticUseMoney.html?'+req,
          dataType:'json',
          success:function(data){
            //var timeLength=data.date.length;

            //option.dataZoom[0].startValue=timeLength;
              option.xAxis[0].data=data.chart_date;
              option.series[0].data=data.chart_total;
              option.series[1].data=data.chart_ratio;
              myChart.setOption(option);
          }
      })
  }



/* submit事件 */
 $('.form-horizontal').submit(function (e) {
   e.preventDefault()
   chartAjax($(this).serialize());
 });

</script>
</body>
</html>