<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>商品上架、下架页面</title>
		<#include "include/resources.html">
	</head>
	<body>
		<style>
			.layui-layer-loading .layui-layer-loading3{width:200px!important;padding-left: 66px;color: #fff;line-height: 24px;}
		</style>
		<div class="wrapper">
			<div class="row pt20">
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="商品名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/operate/scoreshop/getSaleGoodsList.html">搜索</button>
							    </span>
						    </div>
					    </form>
					</div>
					<div class="search-form-adv ml10">
						<form>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
						</form>
					</div>
					</div>
			</div>
			<div class="row mt20">
				<div class="col-md-12">
					<table id="jqGrid"></table>
					<div id="jqGridPager"></div>
				</div>
			</div>
			<script type="text/javascript">
					$(document).ready(function() {
						//表格初始化
						$("#jqGrid").jqTreeGrid({
							url: '/operate/scoreshop/getSaleGoodsList.html',
							  multiselect : true,
							  colModel: [
			                    { label: 'id', name: 'uuid', width: 45, hidden:true},
			                    { label: '商品名称', name: 'goodsName',index:"goods_name",width: 30,align:"center"},
			                    { label: '所属类别', name: 'goodsCategoryName',index:"goods_category_name",width: 30,align:"center"},
			                    { label: '采购价格', name: 'costPrice',index:"cost_price",width: 30,align:"center"},
			                    { label: '市场价', name: 'marketPrice',index:"market_price",width: 30,align:"center"},
			                    { label: '库存量', name: 'store',index:"store",width: 30,align:"center"},
			                    { label: '限兑数量', name: 'exchangeLimit',index:"exchange_limit",width: 30,align:"center"},
			                    { label: '所需积分', name: 'score',index:"score",width: 30,align:"center"},
			                    { label: '商品状态', name: 'status',index:"status",width: 30,align:"center",
			                    	formatter: function(value,row,index){
					            		   if (value == '1'){
						  						return "审核成功";
						  					} else if (value == '2'){
						  						return "审核失败";
						  					}else if (value == '3'){
						  						return "已上架";
						  					}else if (value == '4'){
						  						return "已下架";
						  					}else {
						  						return "待审核";
						  					}
						  				}

			                    },
			                   /*  { label: '上架时间', name: 'saleTime',index:"sale_time",width: 30,align:"center",
			                    	formatter: datetimeFormatter
			                    }, */
			                   /*  { label: '添加时间', name: 'createTime',index:"create_time",width: 30,align:"center",
			                    	formatter: datetimeFormatter
			                    }, */
			                 //   { label: '添加者', name: 'createOperatorId',index:"create_operator_id",width: 30,align:"center"},
			                   /*  { label: '修改时间', name: 'updateTime',index:"update_time",width: 30,align:"center",
			                    	formatter: datetimeFormatter
			                    }, */
			                  //  { label: '修改者', name: 'updateOperatorId',index:"update_operator_id",width: 30,align:"center"},
			                  //  { label: '商品详情', name: 'content',index:"content",width: 30,align:"center"},
			                 //   { label: '商品属性信息', name: 'goodsAttribute',index:"goods_attribute",width: 30,align:"center"},
			                   /*  { label: '备注', name: 'remark',index:"remark",width: 15,align:"center"},
			                    { label: '是否虚拟商品', name: 'isVirtual',index:"is_virtual",width: 15,align:"center",
			                    	formatter: function(value,row,index){
					            		   if (value == '1'){
						  						return "是";
						  					} else if (value == '0'){
						  						return "否";
						  					}else {
						  						return "否";
						  					}
						  				}
			                    }, */
			                //    { label: '审核人ID', name: 'verifyOperatorId',index:"verify_operator_Id",width: 15,align:"center"},
			                 //   { label: '审核备注', name: 'verifyRemark',index:"verify_remark",width: 15,align:"center"},
			                    { label: '审核时间', name: 'verifyTime',index:"verify_time",width: 15,align:"center",
			                    	formatter : datetimeFormatter
			                    },
			                //    { label: '是否推荐', name: 'recommend',index:"recommend",width: 15,align:"center"},
			                    {
									label: "操作",
									name: "cz",
									width: 16,
									align: "center",
									formatter: function(val, options, rowObject){
										var btns = '';
										var	id = rowObject.id;
										if(rowObject.status==3){
											btns += '<a href="javascript:;" onclick=$.fn.treeGridOptions.setFun(this,"'+id+'") data-tid="jqGrid" data-url="/operate/scoreshop/stopGoods.html" data-title="下架">下架</a>';
										}
										else{
											btns += '<a href="javascript:;" onclick=$.fn.treeGridOptions.setFun(this,"'+id+'") data-tid="jqGrid" data-url="/operate/scoreshop/saleGoods.html" data-title="上架">上架</a>';
										}
										return btns;
									}

								}

			                ]
						}) ;
					});
			</script>
		</div>
	</body>
</html>
