<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <title>关于我们-${web_name!""}</title>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/js/fancybox/jquery.fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/js/jquery.knob/iefix.css"/>
    <link rel="stylesheet" type="text/css" href="/platformDataInfo.css"/>
    <!--[if lt IE 10]>
    <script src="/themes/js/component.js"></script>
    <![endif]-->
    <!--[if lte IE 7]> 
    	<script>
    		window.location = "/browserUpgrade.html"
    	</script>
    <![endif]-->
<body>
    <#include "include/header.html">
    <input class="serverUrl" value="${image_server_url}" type="hidden">
    <div class="Infobox clearfix" id="Infobox">
        <div class="platformDataInfo" id="platformDataInfo"></div>
    </div>    
    <#include "include/footer.html">
</body>
<script src="/themes/js/jquery.min.js"></script>
<script src="/themes/js/echarts/echarts.js"></script>
<script src="/themes/js/fancybox/jquery.fancybox.js"></script>
<script src="/themes/js/jquery.knob/jquery.knob.min.js"></script>
<script src="/common.js"></script>
<script src="/platformDataInfo.js"></script>
</html>