<!-- Bootstrap -->
<link href="${theme_dir}/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="${theme_dir}/static/css/font-awesome.min.css" rel="stylesheet">
<link href="${theme_dir}/static/css/animate.min.css" rel="stylesheet">
<link href="${theme_dir}/static/css/plugins/trirand/ui.jqgrid-bootstrap.css" rel="stylesheet">
<link href="${theme_dir}/static/css/style.min.css" rel="stylesheet">
<link href="${theme_dir}/static/js/plugins/ztree/zTreeStyle/zTreeStyle.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script  type="text/javascript" src="${theme_dir}/static/js/jquery/jquery-1.9.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="${theme_dir}/static/js/bootstrap/bootstrap.min.js"></script>
<script src="${theme_dir}/static/js/tooltips.js"></script>
<script src="${theme_dir}/static/js/plugins/layer/layer.js"></script>
<script src="${theme_dir}/static/js/plugins/layer/laydate/laydate.js"></script>
<script src="${theme_dir}/static/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script src="${theme_dir}/static/js/plugins/trirand/jquery.jqGrid.js"></script>
<script src="${theme_dir}/static/js/plugins/trirand/i18n/grid.locale-cn.js"></script>
<script src="${theme_dir}/static/js/plugins/jquery-validation-1.14.0/jquery.validate.min.js"></script>
<script src="${theme_dir}/static/js/plugins/jquery-validation-1.14.0/additional-methods.js"></script>
<script src="${theme_dir}/static/js/plugins/jquery-validation-1.14.0/messages_zh.min.js"></script>
<script src="${theme_dir}/static/js/plugins/jquery.form.js"></script>
<script src="${theme_dir}/static/js/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<script src="${theme_dir}/static/js/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${theme_dir}/static/js/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script src="${theme_dir}/static/js/common.js"></script>

<link href="${theme_dir}/static/js/fancybox/jquery.fancybox.css" rel="stylesheet">
<script src="${theme_dir}/static/js/fancybox/jquery.fancybox.pack.js"></script>
<script>
	$("a[rel=group]").fancybox({
	    'titlePosition' : 'over',
		'cyclic': true
	});
</script>
<!--[if lt IE 9]>
  <link href="${theme_dir}/static/css/iehack.css" rel="stylesheet">
  <script src="${theme_dir}/static/js/bootstrap/html5shiv/html5shiv.min.js"></script>
  <script src="${theme_dir}/static/js/bootstrap/respond/respond.min.js"></script>
<![endif]-->
