<#-- 显示百度富文本编辑器  输入参数长度、高度、id(Textarea的id)、name(Textarea的name)、文本框中的值-->
<#macro showUeditor width height id name content readOnly >
<style>
	.edui-container .edui-editor-body{
		max-height:500px; overflow-y:scroll;
	}
</style>
<link href="/static/js/plugins/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/umeditor/umeditor.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/umeditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/plain" id="${id!'myEditor'}" name="${name!'myEditor'}" style="width:100%;height:${height!0}px;">

${content!''}
</script>
<script type="text/javascript">
var readOnly = "${readOnly!false}"; 
//实例化编辑器
var um = UM.getEditor("${id!'myEditor'}",{
	readonly: readOnly
});
</script>
</#macro>
