<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>活动方案管理页面</title>
		<#include "include/resources.html">
	</head>
	<body>
		<div class="wrapper">
			<div class="row pt20">				
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="活动名称">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid" data-url="/operate/activity/activityList.html">搜索</button>
							    </span>		    
						    </div>
					    </form>	
					</div>					
					<div class="search-form-adv ml10">
						<form>
							<div class="btn-group" onclick="$.fn.page.dropdownSelectHoverFun(this)">
							</div>
							<button type="button" class="btn btn-info" onclick="$.fn.treeGridOptions.refreshFun(this)" data-tid="jqGrid">刷新</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tool-btns">
					</div>					
				</div>
			</div>
			<div class="row mt20">
				<div class="col-md-12">
					<table id="jqGrid"></table>
					<div id="jqGridPager"></div>
				</div>
			</div>
			<script type="text/javascript">
					$(document).ready(function() {												
						//表格初始化
						$("#jqGrid").jqTreeGrid({
							url: '/operate/activity/activityList.html',	
							  multiselect : false,	
							  colModel: [
			                    { label: 'id', name: 'uuid', width: 65, hidden:true},
			                    { label: '活动名称', name: 'activityName',index:"activity_name",width: 30},
								{ label: '状态', name: 'status',index:"status", width: 20,
									formatter: function(value,row,index){
				            		   if (value == '1'){
					  						return "启用";
					  					} else if (value == '0'){
					  						return "禁用";
					  					} else {
					  						return "启用";
					  					}
					  				}
								
								},
								{ label: '活动编码', name: 'activityCode', width: 1, hidden:true},
								{ label: '操作', name: '',sortable:false,width: 20,formatter:function(val, options, rowObject){	
									   var id = rowObject.id;
									   var activityCode = rowObject.activityCode;
									   var ret = "--";
									   <@shiro.hasPermission name="oper:actPlan:cancel">
									   if(rowObject.status==1){
										   ret ='<a href="javascript:;" onclick=$.fn.treeGridOptions.lineSetFun(this,"'+id+'") data-tid="jqGrid" data-title="确认禁用该活动方案？" data-url="/operate/activity/activityStatus.html?status=0&activityCode='+activityCode+'">禁用</a>';
									   }else{
										   ret = '<a href="javascript:;" onclick=$.fn.treeGridOptions.lineSetFun(this,"'+id+'") data-tid="jqGrid" data-title="确认启用该活动方案？" data-url="/operate/activity/activityStatus.html?status=1&activityCode='+activityCode+'">启用</a>';
									   }
									   </@shiro.hasPermission>
									   return ret;
									}
								}
			                ]
						}) ;			
					});
			</script>
		</div>
	</body>
</html>