<style type="text/css">
.ui-jqgrid .ui-jqgrid-hdiv{
			position: relative;
		}
		.ui-jqgrid .ui-jqgrid-bdiv{
			margin-top: 0!important;
		}
      @media (max-height: 768px){
        .ui-jqgrid .ui-jqgrid-bdiv {
            margin-top: 39px;
            padding-bottom: 0px;
            max-height: 100px!important;
            overflow-y: auto;
            overflow-x: hidden;
        }
      }
      .ui-jqgrid .ui-jqgrid-pager {
          position: relative;
          bottom: 0px;
          background: #fff;
          border: 1px solid #EBEBEB;
          border-radius: 3px;
          z-index: 1000;
      }
      @media (max-height: 1080px){
        .ui-jqgrid .ui-jqgrid-bdiv {
            margin-top: 39px;
            padding-bottom: 0px;
            max-height: 460px!important;
            overflow-y: auto;
            overflow-x: hidden;
        }
      }
</style>
<div class="wrapper">
	<div class="row pt10">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<div class="search-form">
						<form>
							<div class="input-group">
								<input type="text" class="form-control search-input" name="keywords" id="keywords" placeholder="请输入用户名/认证名称/手机号">
								<span class="input-group-btn search-span">
							    	<button class="btn btn-primary" type="button" onclick="$.fn.treeGridOptions.searchFun(this)" data-tid="jqGrid_03" data-url="/operate/redEnvelope/selectableGrantUser.html">搜索</button>
							    </span>
							</div>
						</form>
					</div>
					<div class="search-form-adv ml10">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt10">
		<div class="col-md-5" style="width:45%;">
			<h5 class="mt10 mb10">可选用户 </h5>
			<table id="jqGrid_03"></table>
			<div id="jqGridPager_03"></div>
		</div>
		<div class="col-md-1 switch-btn">
			<span class="glyphicon glyphicon-circle-arrow-right"></span>
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
		</div>
		<div class="col-md-5" style="width:45%;">
			<h5 class="mt10 mb10">已选用户 </h5>
				<table id="jqGrid_04"></table>
				<input type="hidden" name="userIds"  id="userIds"  />
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	  var span_right = $(".switch-btn span:first"),
	    span_left = $(".switch-btn span:last");
	    span_right.click(function(){//添加
	      var ids = $('#jqGrid_03').jqGrid('getGridParam','selarrrow'),
	        jqGrid_04_datas = $('#jqGrid_04').jqGrid("getDataIDs");
	      $.each(ids, function(k,v) {
	        var flag = true,
	          thisuuid = "";
	        thisuuid = $('#jqGrid_03').getRowData(v).id;
	        $.each(jqGrid_04_datas, function(key,vl) {
	          if(thisuuid === vl){
	            flag = false;
	          }
	        });
	        if(flag){
	          $("#jqGrid_04").jqGrid('addRowData', thisuuid, $('#jqGrid_03').getRowData(v));
	        }
	      });
	    });
		span_left.click(function(){
			var ids = $('#jqGrid_04').jqGrid('getGridParam','selarrrow'),
			len = ids.length;
			for(var i = len-1;i>=0 ;i--) {
				$("#jqGrid_04").jqGrid("delRowData", ids[i]);
			}
		});

	var url = '/operate/redEnvelope/selectableGrantUser.html';
	//表格初始化
	var GridArray=[];
	$("#jqGrid_03").jqTreeGrid({
		url: url,
		height: $(window).height()*0.8*0.55,
		multiselect: true,
		pager: "#jqGridPager_03",
		colModel: [{
			label: '用户名',
			name: 'userName',
			width: 50
		},{
			label: '认证名称',
			name: 'realName',
			width: 30
		}, {
			label: '手机号码',
			name: 'mobile',
			width: 30
		}, {
			label: '用户类型',
			name: 'userNatureStr',
			width: 30
		},{
			label: 'id',
			name: 'id',
			width: 10,
			hidden:true
		}],
		beforeSelectRow: function (rowid, e) {
		    var $myGrid = $(this),
		        i = $.jgrid.getCellIndex($(e.target).closest('td')[0]),
		        cm = $myGrid.jqGrid('getGridParam', 'colModel');
		    return (cm[i].name === 'cb');
		},
		ondblClickRow: function(rowid,iRow,iCol,e) {
			span_right[0].click();
		},loadComplete: function (xhr) {
			var gridModel=xhr.gridModel;
			if (GridArray.length > 0) {
				$.each(GridArray, function (i, item) {
						$("#jqg_jqGrid_03_" + item).attr("checked", true);
				});
			}
		},onSelectRow:function (aRowids,status) {
			if(status){
				if(GridArray.length!=0){
					if(GridArray.indexOf(aRowids)=='-1'){
						GridArray.push(aRowids)
					}
				}else{
						GridArray.push(aRowids)
				}
			}else {
				var ret=$("#jqGrid_03").jqGrid('getRowData',aRowids);
				//GridArray.remove(aRowids)
			}
		}
	}).jqGrid("setFrozenColumns").navGrid('#jqGridPager_03',
		            // the buttons to appear on the toolbar of the grid
		    	{ edit: false, add: false, del: false, search: false, refresh: true, view: false, position: "left", cloneToTop: false }
		   	);

	$("#jqGrid_04").jqTreeGrid({
		url:'/operate/redEnvelope/selectedGrantUser.html?userIds=${userIds!}',
		loadonce: true,
		height: $(window).height()*0.8*0.55,
		//datatype: "local",
		rowNum: 500000,
		colModel: [{
			label: '用户名',
			name: 'userName',
			width: 50
		},{
			label: '认证名称',
			name: 'realName',
			width: 30
		}, {
			label: '手机号码',
			name: 'mobile',
			width: 30
		}, {
			label: '用户类型',
			name: 'userNatureStr',
			width: 30
		},{
			label: 'id',
			name: 'id',
			width: 10,
			hidden:true
		}],
		ondblClickRow: function(rowid,iRow,iCol,e) {
			span_left[0].click();
		}
	});
	$(window).bind('resize', function() {
		$("#jqGrid_03").setGridHeight($(window).height()*0.8*0.55);
		$("#jqGrid_04").setGridHeight($(window).height()*0.8*0.55);
	});
});
</script>